footer {
  .sinPaddingLeftRigth {
    padding-left: 0;
    padding-right: 0;
  }
  .fondoFila {
    background-color: $fondoNegro;
  }
  .f-logo {
    padding: 16px;
    .titulo1,
    .titulo2 {
      font-size: 3em;
      text-transform: uppercase;
      border-bottom: 1px solid $textoNaranja;
    }
    .titulo1 {
      color: $textoNaranja;
      font-weight: bold;
      &:hover {
        color: $textoBlanco;
      }
    }
    .titulo2 {
      color: $textoBlanco;
      &:hover {
        color: $textoNaranja;
      }
    }
    .autor {
      text-transform: uppercase;
      color: $textoBlanco;
    }
  }
  .menu-sociales {
    padding: 16px;
    display: flex;
    justify-content: flex-end;
    a {
      text-decoration: none;
      color: $textoBlanco;
      font-size: 2em;
      padding: 20px;
      &:hover {
        color: $textoNaranja;
      }
    }
  }
}


