* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.bg-gray {
  background-color: $fondoGris;
}

.sinMarginGeneral{
  margin-left: 0 !important;
  margin-right: 0 !important;
}


