header {
  .h-logo {
    background-color: $fondoNegro;
    padding: 10px;
    .titulo {
      font-weight: bold;
      color: $textoNaranja;
      font-size: 25px;
      &:hover {
        color: $textoBlanco;
      }
    }
    .subtitulo {
      color: $textoBlanco;
      font-size: 25px;
      &:hover {
        color: $textoNaranja;
      }
    }
  }
  .h-menu {
    background-color: $fondoNegro;
    padding: 17px;
    a {
      text-decoration: none;
      color: $textoBlanco;
      font-size: 15px;
      margin: 0 5px;
      &:hover {
        color: $textoNaranja;
      }
    }
  }
  .h-menu-sociales {
    background-color: $fondoNegro;
    padding: 17px;
    a {
      text-decoration: none;
      color: $textoBlanco;
      font-size: 15px;
      margin: 0 5px;
      &:hover {
        color: $textoNaranja;
      }
    }
  }
  .sin-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .dark {
    opacity: 0.8;
    filter: brightness(40%);
  }
  .h-info {
    /* background-color: rgba(0, 0, 0, 0.404); */
    padding: 25px;
    position: absolute;
    bottom:13em;
    left: 22em;
    p {
      text-transform: uppercase;
      color: $textoBlanco;
      margin-bottom: 40px;
      font-size: 3em;
    }
    h2 {
      text-transform: uppercase;
      color: $textoBlanco;
      font-weight: bold;
      margin-bottom: 40px;
      font-size: 8em;
    }
    a {
      text-transform: uppercase;
      color: $textoBlanco;
      background-color: $fondoNaranja;
      padding: 10px 30px;
      font-weight: bold;
      text-decoration: none;
      &:hover{
        background-color: $fondoBlanco;
        color: $textoNaranja;
      }
    }
  }
}
