@media only screen and (min-width: 300px) and (max-width: 499px) {
  header {
    .h-info {
      padding: 22px;
      position: absolute;
      bottom: 1em;
      left: 4em;
      p {
        text-transform: uppercase;
        color: $textoBlanco;
        margin-bottom: 10px;
        font-size: 10px;
      }
      h2 {
        text-transform: uppercase;
        color: $textoBlanco;
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 12px;
      }
      a {
        text-transform: uppercase;
        color: $textoBlanco;
        background-color: $fondoNaranja;
        padding: 2px 4px;
        font-weight: bold;
        text-decoration: none;
        &:hover {
          background-color: $fondoBlanco;
          color: $textoNaranja;
        }
      }
    }
  }
}
@media only screen and (min-width: 500px) and (max-width: 700px) {
  header {
    .h-info {
      padding: 22px;
      position: absolute;
      bottom: 2em;
      left: 9em;
      p {
        text-transform: uppercase;
        color: $textoBlanco;
        margin-bottom: 10px;
        font-size: 18px;
      }
      h2 {
        text-transform: uppercase;
        color: $textoBlanco;
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 25px;
      }
      a {
        text-transform: uppercase;
        color: $textoBlanco;
        background-color: $fondoNaranja;
        padding: 2px 4px;
        font-weight: bold;
        text-decoration: none;
        &:hover {
          background-color: $fondoBlanco;
          color: $textoNaranja;
        }
      }
    }
  }
  .main {    
    .m-card {
      background-color: $fondoNaranja;
      margin: 1em auto;
      font-size: 15px;     
      .card-header {
        margin-bottom: 1em;
        i {
          font-size: 3em;
        }
      }
    }
    .imagenes {
      img {
        display: block;
        margin: 0px auto;
        width: 12em;
        &:hover {
          filter: brightness(40%);
        }
      }
    }
   
    
  }
}
@media only screen and (min-width: 700px) and (max-width: 1280px) {
  header {
    .h-info {
      padding: 22px;
      position: absolute;
      bottom: 10em;
      left: 17em;
      p {
        text-transform: uppercase;
        color: $textoBlanco;
        margin-bottom: 10px;
        font-size: 30px;
      }
      h2 {
        text-transform: uppercase;
        color: $textoBlanco;
        font-weight: bold;
        margin-bottom: 40px;
        font-size: 5em;
      }
      a {
        text-transform: uppercase;
        color: $textoBlanco;
        background-color: $fondoNaranja;
        padding: 7px 10px;
        font-weight: bold;
        text-decoration: none;
        &:hover {
          background-color: $fondoBlanco;
          color: $textoNaranja;
        }
      }
    }
  }
  .main {    
    .m-card {
      background-color: $fondoNaranja;
      margin: 1em auto;
      font-size: 15px;     
      .card-header {
        margin-bottom: 1em;
        i {
          font-size: 3em;
        }
      }
    }
    .imagenes {
      img {
        display: block;
        margin: 0px auto;
        width: 12em;
        &:hover {
          filter: brightness(40%);
        }
      }
    }
   
    
  }
}
@media only screen and (min-width: 1300px) and (max-width: 1930px) {
  header {
    .h-info {
      padding: 22px;
      position: absolute;
      bottom: 13em;
      left: 25em;
      p {
        text-transform: uppercase;
        color: $textoBlanco;
        margin-bottom: 10px;
        font-size: 4em;
      }
      h2 {
        text-transform: uppercase;
        color: $textoBlanco;
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 7em;
      }
      a {
        text-transform: uppercase;
        color: $textoBlanco;
        background-color: $fondoNaranja;
        padding: 7px 10px;
        font-weight: bold;
        text-decoration: none;
        &:hover {
          background-color: $fondoBlanco;
          color: $textoNaranja;
        }
      }
    }
  }
  .main {    
    .m-card {
      background-color: $fondoNaranja;
      margin: 1em auto;
      font-size: 15px;     
      .card-header {
        margin-bottom: 1em;
        i {
          font-size: 3em;
        }
      }
    }
    .imagenes {
      img {
        display: block;
        margin: 0px auto;
        width: 30em;
        &:hover {
          filter: brightness(40%);
        }
      }
    }
   
    
  }
}
