@media only screen and (min-width: 300px) and (max-width: 499px) {
  header {
    .h-info {
      padding: 22px;
      position: absolute;
      bottom: 1em;
      left: 4em;
      p {
        text-transform: uppercase;
        color: $textoBlanco;
        margin-bottom: 10px;
        font-size: 10px;
      }
      h2 {
        text-transform: uppercase;
        color: $textoBlanco;
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 12px;
      }
      a {
        text-transform: uppercase;
        color: $textoBlanco;
        background-color: $fondoNaranja;
        padding: 2px 4px;
        font-weight: bold;
        text-decoration: none;
        &:hover {
          background-color: $fondoBlanco;
          color: $textoNaranja;
        }
      }
    }
  }
}
@media only screen and (min-width: 500px) and (max-width: 700px) {
  header {
    .h-info {
      padding: 22px;
      position: absolute;
      bottom: 2em;
      left: 9em;
      p {
        text-transform: uppercase;
        color: $textoBlanco;
        margin-bottom: 10px;
        font-size: 18px;
      }
      h2 {
        text-transform: uppercase;
        color: $textoBlanco;
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 25px;
      }
      a {
        text-transform: uppercase;
        color: $textoBlanco;
        background-color: $fondoNaranja;
        padding: 2px 4px;
        font-weight: bold;
        text-decoration: none;
        &:hover {
          background-color: $fondoBlanco;
          color: $textoNaranja;
        }
      }
    }
  }
}
@media only screen and (min-width: 700px) and (max-width: 1199px) {
  header {
    .h-info {
      padding: 22px;
      position: absolute;
      bottom: 5em;
      left: 8em;
      p {
        text-transform: uppercase;
        color: $textoBlanco;
        margin-bottom: 10px;
        font-size: 20px;
      }
      h2 {
        text-transform: uppercase;
        color: $textoBlanco;
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 50px;
      }
      a {
        text-transform: uppercase;
        color: $textoBlanco;
        background-color: $fondoNaranja;
        padding: 7px 10px;
        font-weight: bold;
        text-decoration: none;
        &:hover {
          background-color: $fondoBlanco;
          color: $textoNaranja;
        }
      }
    }
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1500px) {
  header {
    .h-info {
      padding: 22px;
      position: absolute;
      bottom: 4em;
      left: 9em;
      p {
        text-transform: uppercase;
        color: $textoBlanco;
        margin-bottom: 10px;
        font-size: 4em;
      }
      h2 {
        text-transform: uppercase;
        color: $textoBlanco;
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 7em;
      }
      a {
        text-transform: uppercase;
        color: $textoBlanco;
        background-color: $fondoNaranja;
        padding: 7px 10px;
        font-weight: bold;
        text-decoration: none;
        &:hover {
          background-color: $fondoBlanco;
          color: $textoNaranja;
        }
      }
    }
  }
}
