/*Textos*/
$textoBlanco:#FFFFFF;
$textoNegro:#1b242b;
$textoNaranja:rgba(243, 72, 4, 0.924);
$textoGris:#808080;

/*Fondos*/
$fondoBlanco:#FFFFFF;
$fondoNegro:#0a0d0fba;
$fondoGris:#dddddd;
$fondoNaranja:rgba(243, 72, 4, 0.924);
$fondoAzul:#1b242b;





