/*Colores de fuentes*/
$textBlancof: #fff;
$textNegro0: #000;
$textGris8: #888888;
$textNegro3: #333333;
$textNarangaf: #f36639;
$textNarangab: #b45435;

/*Colores de fondo*/
$bgNarangab: #b45435;
$bgNarangaf: #f36639;
$bgNarangaf6: #f69322;
$bgGrisf: #f2f2f2;
$bgGris3: #333333;
$bgGrisB: #b4b3b3;

/*Tamaños de la pantalla*/
$galaxys9: 500px;
$ipad: 1280px;
