/*Textos*/
/*Fondos*/
.bg-gray {
  background-color: #dddddd; }

header .h-logo {
  background-color: #0a0d0fba;
  padding: 10px; }
  header .h-logo .titulo {
    font-weight: bold;
    color: rgba(243, 72, 4, 0.924);
    font-size: 25px; }
    header .h-logo .titulo:hover {
      color: #FFFFFF; }
  header .h-logo .subtitulo {
    color: #FFFFFF;
    font-size: 25px; }
    header .h-logo .subtitulo:hover {
      color: rgba(243, 72, 4, 0.924); }
header .h-menu {
  background-color: #0a0d0fba;
  padding: 17px; }
  header .h-menu a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 15px;
    margin: 0 5px; }
    header .h-menu a:hover {
      color: rgba(243, 72, 4, 0.924); }
header .h-menu-sociales {
  background-color: #0a0d0fba;
  padding: 17px; }
  header .h-menu-sociales a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 15px;
    margin: 0 5px; }
    header .h-menu-sociales a:hover {
      color: rgba(243, 72, 4, 0.924); }
header .sin-padding {
  padding-left: 0 !important;
  padding-right: 0 !important; }
header .dark {
  opacity: 0.8;
  filter: brightness(40%); }
header .h-info {
  /* background-color: rgba(0, 0, 0, 0.404); */
  padding: 25px;
  position: absolute;
  bottom: 13em;
  left: 22em; }
  header .h-info p {
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 40px;
    font-size: 3em; }
  header .h-info h2 {
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: bold;
    margin-bottom: 40px;
    font-size: 8em; }
  header .h-info a {
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: rgba(243, 72, 4, 0.924);
    padding: 10px 30px;
    font-weight: bold;
    text-decoration: none; }
    header .h-info a:hover {
      background-color: #FFFFFF;
      color: rgba(243, 72, 4, 0.924); }

.main .sinPadding {
  padding-left: 0;
  padding-right: 0; }
.main .sinMarginLeftRight {
  margin-left: 0;
  margin-right: 0; }
.main .m-card {
  background-color: rgba(243, 72, 4, 0.924);
  margin: 1em auto; }
  .main .m-card:hover {
    animation: shakeX;
    animation-duration: 2s; }
  .main .m-card h5 {
    font-size: 14px; }
  .main .m-card p {
    font-size: 15px; }
  .main .m-card .card-header {
    margin-bottom: 1em; }
    .main .m-card .card-header i {
      font-size: 3em; }
.main .m-services {
  background-color: #dddddd;
  padding: 3em; }
  .main .m-services .titulo {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    color: #808080;
    margin-bottom: 20px; }
  .main .m-services .titulo-info {
    text-transform: uppercase;
    font-size: 33px;
    color: #1b242b;
    margin-bottom: 20px; }
  .main .m-services .titulo-description {
    color: #808080;
    font-size: 12px;
    margin-bottom: 30px; }
  .main .m-services .titulo-button {
    text-transform: uppercase;
    color: #ffffff;
    background-color: rgba(243, 72, 4, 0.924);
    padding: 8px 15px;
    font-weight: bold;
    text-decoration: none; }
    .main .m-services .titulo-button:hover {
      background-color: #FFFFFF;
      color: rgba(243, 72, 4, 0.924); }
.main .m-list-1,
.main .m-list-2 {
  background-color: #dddddd;
  padding: 4em;
  color: #1b242b; }
  .main .m-list-1 ul,
  .main .m-list-2 ul {
    padding-left: 0; }
    .main .m-list-1 ul li,
    .main .m-list-2 ul li {
      list-style: none;
      margin-bottom: 7px;
      font-size: 16px; }
      .main .m-list-1 ul li:hover,
      .main .m-list-2 ul li:hover {
        color: #FFFFFF; }
      .main .m-list-1 ul li span i,
      .main .m-list-2 ul li span i {
        color: rgba(243, 72, 4, 0.924); }
.main .m-works {
  background-color: #FFFFFF; }
  .main .m-works h3 {
    font-size: 15px;
    color: #808080;
    text-transform: uppercase;
    font-weight: bold; }
  .main .m-works p {
    font-size: 30px;
    text-transform: uppercase; }
.main .m-work-info {
  background-color: #FFFFFF; }
  .main .m-work-info .m-subtitulo {
    font-size: 20px; }
  .main .m-work-info img {
    display: block;
    width: 50%;
    height: auto;
    margin: 20px auto; }
    .main .m-work-info img:hover {
      opacity: 0.5; }
.main .m-descuento {
  border: 1px solid red;
  background-color: rgba(243, 72, 4, 0.924);
  padding: 4em; }
  .main .m-descuento h3 {
    text-transform: uppercase;
    font-size: 40px;
    color: #FFFFFF; }
  .main .m-descuento p {
    font-size: 20px;
    color: #FFFFFF; }
    .main .m-descuento p a {
      color: #FFFFFF;
      font-weight: bold;
      text-transform: uppercase;
      padding-left: 2em;
      text-decoration: none; }
      .main .m-descuento p a:hover {
        color: #1b242b; }
.main .some {
  background-color: #1b242b;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-top: 3em;
  padding-bottom: 1em; }
  .main .some p {
    color: #808080;
    font-size: 1em;
    font-weight: bold; }
  .main .some h2 {
    font-weight: bold;
    font-size: 3em; }
  .main .some h3 {
    font-size: 2em; }
.main .year {
  background-color: #1b242b;
  color: #FFFFFF;
  display: flex;
  padding-bottom: 3em; }
  .main .year .bloque1 {
    padding-left: 1em; }
  .main .year .numero {
    font-size: 3em;
    color: rgba(243, 72, 4, 0.924);
    font-weight: bold;
    margin-top: 20px; }
  .main .year .bloque2 {
    border-right: 1px solid #FFFFFF;
    margin-left: 10px;
    margin-right: 3px; }
  .main .year div {
    padding: 15px; }
    .main .year div .titulo {
      color: #FFFFFF;
      font-size: 17px;
      text-transform: uppercase;
      width: 100%; }
    .main .year div .subtitulo {
      color: #FFFFFF;
      font-size: 25px;
      text-transform: uppercase;
      font-weight: bold; }

@media only screen and (min-width: 300px) and (max-width: 499px) {
  header .h-info {
    padding: 22px;
    position: absolute;
    bottom: 1em;
    left: 4em; }
    header .h-info p {
      text-transform: uppercase;
      color: #FFFFFF;
      margin-bottom: 10px;
      font-size: 10px; }
    header .h-info h2 {
      text-transform: uppercase;
      color: #FFFFFF;
      font-weight: bold;
      margin-bottom: 10px;
      font-size: 12px; }
    header .h-info a {
      text-transform: uppercase;
      color: #FFFFFF;
      background-color: rgba(243, 72, 4, 0.924);
      padding: 2px 4px;
      font-weight: bold;
      text-decoration: none; }
      header .h-info a:hover {
        background-color: #FFFFFF;
        color: rgba(243, 72, 4, 0.924); } }
@media only screen and (min-width: 500px) and (max-width: 700px) {
  header .h-info {
    padding: 22px;
    position: absolute;
    bottom: 2em;
    left: 9em; }
    header .h-info p {
      text-transform: uppercase;
      color: #FFFFFF;
      margin-bottom: 10px;
      font-size: 18px; }
    header .h-info h2 {
      text-transform: uppercase;
      color: #FFFFFF;
      font-weight: bold;
      margin-bottom: 10px;
      font-size: 25px; }
    header .h-info a {
      text-transform: uppercase;
      color: #FFFFFF;
      background-color: rgba(243, 72, 4, 0.924);
      padding: 2px 4px;
      font-weight: bold;
      text-decoration: none; }
      header .h-info a:hover {
        background-color: #FFFFFF;
        color: rgba(243, 72, 4, 0.924); }

  .main .m-card {
    background-color: rgba(243, 72, 4, 0.924);
    margin: 1em auto;
    font-size: 15px; }
    .main .m-card .card-header {
      margin-bottom: 1em; }
      .main .m-card .card-header i {
        font-size: 3em; } }
@media only screen and (min-width: 700px) and (max-width: 1199px) {
  header .h-info {
    padding: 22px;
    position: absolute;
    bottom: 5em;
    left: 8em; }
    header .h-info p {
      text-transform: uppercase;
      color: #FFFFFF;
      margin-bottom: 10px;
      font-size: 20px; }
    header .h-info h2 {
      text-transform: uppercase;
      color: #FFFFFF;
      font-weight: bold;
      margin-bottom: 10px;
      font-size: 50px; }
    header .h-info a {
      text-transform: uppercase;
      color: #FFFFFF;
      background-color: rgba(243, 72, 4, 0.924);
      padding: 7px 10px;
      font-weight: bold;
      text-decoration: none; }
      header .h-info a:hover {
        background-color: #FFFFFF;
        color: rgba(243, 72, 4, 0.924); } }
@media only screen and (min-width: 1200px) and (max-width: 1500px) {
  header .h-info {
    padding: 22px;
    position: absolute;
    bottom: 4em;
    left: 9em; }
    header .h-info p {
      text-transform: uppercase;
      color: #FFFFFF;
      margin-bottom: 10px;
      font-size: 4em; }
    header .h-info h2 {
      text-transform: uppercase;
      color: #FFFFFF;
      font-weight: bold;
      margin-bottom: 10px;
      font-size: 7em; }
    header .h-info a {
      text-transform: uppercase;
      color: #FFFFFF;
      background-color: rgba(243, 72, 4, 0.924);
      padding: 7px 10px;
      font-weight: bold;
      text-decoration: none; }
      header .h-info a:hover {
        background-color: #FFFFFF;
        color: rgba(243, 72, 4, 0.924); } }

/*# sourceMappingURL=style.css.map */
