.r-news {
  background-color: $azul-standar-1;
  padding: 2em;
  .f-letter {
    h4 {
      text-transform: uppercase;
      color: $textoBlanco;
      font-size: 20px;
      margin-top: 1em;
    }
    p {
      text-transform: uppercase;
      color: $textoBlanco;
      font-size: 15px;
      text-align: justify;
    }
    form {
      input {
        padding: 6px 12px;
        background: $azul-standar-3;
        color: $textoBlanco;
        width: 100%;
        border: 1px solid $azul-standar-3;
        &:focus {
          border: 2px solid $azulFocus;
        }
      }
      button {
        background-color: $fondoRojo;
        padding: 1em 6em;
        text-transform: uppercase;
        color: $textoBlanco;
        border: $fondoRojo;
        margin: 15px auto;
        &:hover {
          background-color: $bordeRojo;
        }
      }
    }
  }
  .f-info-gym {
    img {
      display: block;
      margin: 2px auto;
    }
    p {
      text-align: justify;
      color: $textoBlanco;
      font-size: 1em;
    }
  }
  .f-menu-com {
    display: flex;
    .menu {
      margin: 2px auto;
      padding: 20px;
      ul {
        li {
          a {
            text-decoration: none;
            color: $textoBlanco;
          }
        }
      }
      h3 {
        text-transform: uppercase;
        color: $textoBlanco;
      }
      ul {
        li {
          text-decoration: none;
          list-style: square;
          color: $textoBlanco;
        }
      }
    }
    .community {
      margin: 2px auto;
      padding: 20px;
      ul {
        li {
          a {
            text-decoration: none;
            color: $textoBlanco;
          }
        }
      }
      h3 {
        text-transform: uppercase;
        color: $textoBlanco;
      }
      ul {
        li {
          text-decoration: none;
          list-style: square;
          color: $textoBlanco;
        }
      }
    }
  }
}

.r-reservados {
  background-color: $azul-standar-3;
  .f-copy {
    p {
      text-transform: uppercase;
      color: $textoBlanco;
      font-size: 15px;
      padding: 2px 5px;
    }
  }
  .f-phone-sociales {
    nav {
      list-style: none;
      padding: 16px 5px;
      a {
        color: $textoBlanco;
        font-size: 15px;
        padding: 12px 5px;
        &:hover {
          color: $fondoPlata;
        }
      }
    }
  }
}

.contenedor-form,
.contenedor-info,
.contenedor-enlaces {
  color: $textoBlanco;
  font-size: 16px;
  font-weight: 400;
}

.contenedor-form {
  h4,
  p {
    text-transform: uppercase;
    font-weight: 600 !important;
  }
  input {
    width: 100%;
    padding: 10px;
    background-color: $azul-standar-1;
    color: $textoBlanco;
    border: 1px solid $azul-standar-3;
    margin-bottom: 20px;
  }
  input:focus {
    outline: none;
  }

  button {
    background-color: $fondoRojo;
    color: $textoBlanco;
    text-transform: uppercase;
    padding: 10px;
    width: 40%;
    border: 1px solid $bordeRojo;
    text-align: left;
    &:hover {
      background-color: $bordeRojo;
      transition: all 2s ease;
    }
  }
}

.contenedor-info {
  img {
    display: block;
    width: 30%;
    margin: 10px auto;
  }
  a {
    text-decoration: none;
    color: $textoBlanco;
    width: 100%;
    font-size: 20px;
    display: block;
    &:hover {
      color: $azul-standar-3;
      transition: ease 2s all;
    }
  }
}

.contenedor-enlaces {
  width: 70%;
  display: flex;
  justify-content: space-between;
  .menu-enlaces,
  .menu-comunity {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 20px;
  }
  ul {
    list-style: none;
    padding: 0;

    li {
      margin: 16px 0;
      a {
        color: $textoBlanco;
        text-decoration: none;
        cursor: pointer;
        &:hover {
          color: $azul-standar-3;
          transition: all 2s ease;
        }
      }
    }
  }
}

.derechos-reservados {
  padding: 10px;
  color: $textoBlanco;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

.contendor-redes-sociales {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 50%;
  a {
    text-decoration: none;
    color: $textoBlanco;
    font-size: 20px;
    &:hover{
      color: $textoPlata-2;
      transition: all 2s ease;
    }

  }
}
