main {
  .contenedor-info-redes {
    color: $textoBlanco;
    padding: 1em;
    text-align: center;
    a {
      cursor: pointer;
      color: $textoBlanco;
      text-decoration: none;
      padding: 12px;
      letter-spacing: 2px;
      &:hover {
        color: $textoPlata;
        transition: all 2s;
      }
      span {
        font-size: 20px;
      }
    }
  }
  .container-menu-logo {
    text-align: center;
    img {
      padding: 10px;
    }
  }
  .container-menu {
    text-align: center !important;
    a {
      /*  border: 1px solid red; */
      color: $textoBlanco !important;
      cursor: pointer;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 500;
      padding: 10px 20px !important;
      border-radius: 10px;
      &:hover {
        background-color: $textoBlanco;
        color: $textoNegro !important;
        transition: ease 2s all;
      }
    }
  }
  .cont-img {
    text-align: center;
    margin-top: 3em;
    img {
      padding: 10px;
    }
  }
  .cont-info {
    padding: 1em;
    margin-top: 8em;
    h3 {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 2em;
      color: $textoPlata-2;
    }
    p {
      font-weight: 300;
      color: $textoPlata-2;
      text-align: justify;
    }
  }
  .card {
    background-color: $azul-standar-3;
    border-bottom: 8px solid $azul-standar-3;
    .titule,
    .sub-titule {
      color: $textoBlanco;
      font-weight: 500;
      font-size: 20px;
      text-transform: uppercase;
      padding: 10px;
      font-style: italic;
    }
    .owl-imgen {
      width: 100%;
      height: auto;
    }
    .owl-dots {
      display: none;
    }
  }
  .contenedor-class {
    padding: 1em 2em;
    background-color: $azul-standar-3;
    text-align: center;
    .class-desc {
      text-transform: uppercase;
      color: $textoBlanco;
      font-weight: 700;
      margin-top: 20px;
      font-size: 30px;
    }
    .class-info {
      color: $textoBlanco;
      margin-bottom: 2em;
      padding: 1em 7em;
      font-weight: 300;
      font-size: 17px;
    }
    .class-btn {
      color: $textoBlanco;
      border: 1px solid $textoBlanco;
      cursor: pointer;
      text-decoration: none;
      padding: 10px 40px;
      border-radius: 5px;
      &:hover {
        background-color: $textoBlanco;
        color: $textoNegro;
        transition: ease 2s all;
      }
    }
  }
  .contenedor-all {
    background-color: $azul-standar-3;
    .menu-class-uno {
      width: 100%;
      padding: 0;
      li {
        list-style: none;
        font-size: 22px;
        color: $textoBlanco;
        text-transform: uppercase;
        padding: 15px;
        border-bottom: 1px solid $textoBlanco;
        a {
          text-decoration: none;
          cursor: pointer;
          color: $textoBlanco;
          display: flex;
          justify-content: space-between;
          span {
            color: $textoBlanco;
            font-size: 22px;
            &:hover {
              color: $textoPlata;
              transition: all 2s ease;
            }
          }
        }
      }
    }
  }
  .contenedor-marcas {
    display: flex;
    justify-content: space-between;
    img {
      opacity: 0.5;
      &:hover {
        opacity: 0.9;
        transition: ease 2s ease;
      }
    }
  }
  .contenedor-twitter {
    background-color: $textoPlata-2;
    padding: 16px;
    display: flex;
    justify-content: center;
    span {
      color: $azul-standar-5;
      font-size: 4em;
      margin: 0 30px;
    }
    p {
      margin: 0;
      color: $azul-standar-3;
      font-size: 16px;
      padding: 2em 0;
    }
  }
}
