/*Creamos la variable*/
$azul-standar:  #7bd8ff 
$azul-standar-2:  #ade7ff 
$azul-standar-3: #1dbbfe
.main
    padding: 2.5em

.titulo-info
    padding-top: 10em
    font-weight: 200
    h3
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
        font-size: 3.125em

.deck-card
    padding: 7.5em
    text-transform: uppercase
        
    .block-card
        border-bottom: 5px solid $azul-standar
        color: #ffffff
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
        
    .title
        padding: 1em
        background: $azul-standar
        i
            margin-left: 10em


.general-class
    padding: 5.4em
    border: 1px solid #000000
    h3
        margin: 25px auto
        color: $azul-standar-3
        font-weight: 500
    .subgeneral-class
        border: 1px solid red
        background: $azul-standar-2
        color: #ffffff
        
        .subgeneral-class-hijo
            list-style-type: none
            margin: 0
            padding: 20px
            overflow: hidden
            background-color: #333333
            li
                float: left
                li a
                    display: block
                    color: white
                    text-align: center
                    padding: 16px
                    text-decoration: none
                    &:hover
                        background-color: #111111
           
  
.general-prices
    padding: 5.4em
    h3
        margin: 25px auto
        color: $azul-standar-3
        font-weight: 500

    .subgeneral-prices
        padding: 40px
        background: #1dbbfe
        color: #ffffff
        width: 33em
        margin: 20px auto
        .btn-more
            border: 1px solid #ffffff
            padding: 10px
            border-radius: 5px
            background: $azul-standar-3
            color: #ffffff
            width: 7.4em
            &:hover
                background: #ffffff
                color: $azul-standar-3

.general-gallery
    padding: 6.4em
    /** border: 1px solid #000 **/
    .titulo-gallery
        color: $azul-standar-3
        padding: 10px

.general-partner
    padding: 6.4em
    /** border: 1px solid #000000 **/
    .titulo-partner
        color: $azul-standar-3
        padding: 10px
    .subgeneral-partner
        margin: 10px auto
        /** padding: 10px **/
        width: 200px
        img
            margin: 20px
            &:hover
                background: #ffffff
                

    
    

   
        
          
           
            


