//Colores
/*Creamos la variable*/
$azul-standar-1:  #7bd8ff; 
$azul-standar-2:  #ade7ff; 
$azul-standar-3: #1dbbfe;
$azul-standar-4:rgba(45, 190, 252, 0.2);
$textoBlanco:#ffffff;
$fondoBlanco:#ffffff;
$textoNegro:#000000;
$fondoPlata:#BEBEBE;
$bordeRojo:#FF0000;