//Colores
/*Creamos la variable*/
$azul-standar-1:  #7bd8ff; 
$azul-standar-2:  #ade7ff; 
$azul-standar-3: #1dbbfe;
$azul-standar-5: #ade7ff;
$azulFocus: #029fe2fd;
$azul-standar-4:rgba(45, 190, 252, 0.2);
$textoBlanco:#ffffff;
$fondoBlanco:#ffffff;
$textoNegro:#000000;
$fondoPlata:#BEBEBE;
$textoPlata:#BEBEBE;
$fondoPlataLigero:#ececec;
$fondoPlataLigero-2:#f6f5f5;
$textoPlataLigero:#f6f5f5;
$textoPlata-2:rgba(90, 90, 90, 0.918);
$bordeRojo:#FF0000;
$fondoRojo:#c80505;