/*Creamos la variable*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif; }

.azul-standar-3 {
  background-color: #1dbbfe; }

.azul-standar-5 {
  background-color: #ade7ff !important; }

header .container-imagen {
  background-image: url("../img/banner11.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 60em; }
header .container-fitness {
  border-bottom: 5px solid #1dbbfe;
  width: 40%;
  position: absolute;
  top: 16em;
  padding: 1em;
  background-color: rgba(45, 190, 252, 0.2);
  color: #ffffff;
  text-transform: uppercase;
  margin-left: 8em; }
  header .container-fitness a {
    display: block;
    width: 20%;
    padding: 10px 20px;
    border: 1px solid #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    border-radius: 5px;
    text-align: center;
    margin: auto;
    cursor: pointer; }
    header .container-fitness a:hover {
      background-color: #ffffff;
      color: #000000;
      transition: all 2s ease; }
  header .container-fitness h3,
  header .container-fitness h4,
  header .container-fitness p {
    margin-bottom: 15px; }
  header .container-fitness h3 {
    font-size: 4em;
    font-weight: 300; }
  header .container-fitness h4 {
    font-size: 2em;
    font-weight: 300; }
  header .container-fitness p {
    font-size: 1em;
    font-weight: 200; }

main .contenedor-info-redes {
  color: #ffffff;
  padding: 1em;
  text-align: center; }
  main .contenedor-info-redes a {
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
    padding: 12px;
    letter-spacing: 2px; }
    main .contenedor-info-redes a:hover {
      color: #BEBEBE;
      transition: all 2s; }
    main .contenedor-info-redes a span {
      font-size: 20px; }
main .container-menu-logo {
  text-align: center; }
  main .container-menu-logo img {
    padding: 10px; }
main .container-menu {
  text-align: center !important; }
  main .container-menu a {
    /*  border: 1px solid red; */
    color: #ffffff !important;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    padding: 10px 20px !important;
    border-radius: 10px; }
    main .container-menu a:hover {
      background-color: #ffffff;
      color: #000000 !important;
      transition: ease 2s all; }

.r-news {
  background-color: #7bd8ff;
  padding: 2em; }
  .r-news .f-letter h4 {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 20px;
    margin-top: 1em; }
  .r-news .f-letter p {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 15px;
    text-align: justify; }
  .r-news .f-letter form input {
    padding: 6px 12px;
    background: #1dbbfe;
    color: #ffffff;
    width: 100%;
    border: 1px solid #1dbbfe; }
    .r-news .f-letter form input:focus {
      border: 2px solid #029fe2fd; }
  .r-news .f-letter form button {
    background-color: #c80505;
    padding: 1em 6em;
    text-transform: uppercase;
    color: #ffffff;
    border: #c80505;
    margin: 15px auto; }
    .r-news .f-letter form button:hover {
      background-color: #FF0000; }
  .r-news .f-info-gym img {
    display: block;
    margin: 2px auto; }
  .r-news .f-info-gym p {
    text-align: justify;
    color: #ffffff;
    font-size: 1em; }
  .r-news .f-menu-com {
    display: flex; }
    .r-news .f-menu-com .menu {
      margin: 2px auto;
      padding: 20px; }
      .r-news .f-menu-com .menu ul li a {
        text-decoration: none;
        color: #ffffff; }
      .r-news .f-menu-com .menu h3 {
        text-transform: uppercase;
        color: #ffffff; }
      .r-news .f-menu-com .menu ul li {
        text-decoration: none;
        list-style: square;
        color: #ffffff; }
    .r-news .f-menu-com .community {
      margin: 2px auto;
      padding: 20px; }
      .r-news .f-menu-com .community ul li a {
        text-decoration: none;
        color: #ffffff; }
      .r-news .f-menu-com .community h3 {
        text-transform: uppercase;
        color: #ffffff; }
      .r-news .f-menu-com .community ul li {
        text-decoration: none;
        list-style: square;
        color: #ffffff; }

.r-reservados {
  background-color: #1dbbfe; }
  .r-reservados .f-copy p {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 15px;
    padding: 2px 5px; }
  .r-reservados .f-phone-sociales nav {
    list-style: none;
    padding: 16px 5px; }
    .r-reservados .f-phone-sociales nav a {
      color: #ffffff;
      font-size: 15px;
      padding: 12px 5px; }
      .r-reservados .f-phone-sociales nav a:hover {
        color: #BEBEBE; }

/*# sourceMappingURL=styles.css.map */
