/*Creamos la variable*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif; }

header {
  background-image: url("../img/banner11.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 50em;
  /* height: 50em; */ }
  header .h-fitness {
    position: relative;
    top: 14em;
    background-color: #ade7ff;
    background-color: rgba(45, 190, 252, 0.2);
    border-bottom: 8px solid #1dbbfe; }
    header .h-fitness h2 {
      text-transform: uppercase;
      color: #ffffff;
      font-size: 60px;
      padding: 16px;
      margin-bottom: -50px; }
    header .h-fitness h4 {
      text-transform: uppercase;
      font-size: 25px;
      color: #ffffff;
      padding: 16px;
      margin-bottom: -25px; }
    header .h-fitness p {
      font-size: 15px;
      color: #ffffff;
      padding: 16px;
      margin-bottom: -15px; }
    header .h-fitness a {
      padding: 15px 20px;
      text-transform: uppercase;
      text-decoration: none;
      background-color: transparent;
      color: #ffffff;
      margin: 20px auto;
      border: 2px solid #ffffff;
      display: block;
      width: 150px;
      text-align: center; }
      header .h-fitness a:hover {
        background-color: #ffffff;
        color: #000000;
        transition: all 2s ease; }

.r-news {
  background-color: #7bd8ff;
  padding: 2em; }
  .r-news .f-letter h4 {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 20px;
    margin-top: 1em; }
  .r-news .f-letter p {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 15px;
    text-align: justify; }
  .r-news .f-letter form input {
    padding: 6px 12px;
    background: #1dbbfe;
    color: #ffffff;
    width: 100%;
    border: 1px solid #1dbbfe; }
    .r-news .f-letter form input:focus {
      border: 2px solid #029fe2fd; }
  .r-news .f-letter form button {
    background-color: #c80505;
    padding: 1em 6em;
    text-transform: uppercase;
    color: #ffffff;
    border: #c80505;
    margin: 15px auto; }
    .r-news .f-letter form button:hover {
      background-color: #FF0000; }
  .r-news .f-info-gym img {
    display: block;
    margin: 2px auto; }
  .r-news .f-info-gym p {
    text-align: justify;
    color: #ffffff;
    font-size: 1em; }
  .r-news .f-menu-com {
    display: flex; }
    .r-news .f-menu-com .menu {
      margin: 2px auto;
      padding: 20px; }
      .r-news .f-menu-com .menu ul li a {
        text-decoration: none;
        color: #ffffff; }
      .r-news .f-menu-com .menu h3 {
        text-transform: uppercase;
        color: #ffffff; }
      .r-news .f-menu-com .menu ul li {
        text-decoration: none;
        list-style: square;
        color: #ffffff; }
    .r-news .f-menu-com .community {
      margin: 2px auto;
      padding: 20px; }
      .r-news .f-menu-com .community ul li a {
        text-decoration: none;
        color: #ffffff; }
      .r-news .f-menu-com .community h3 {
        text-transform: uppercase;
        color: #ffffff; }
      .r-news .f-menu-com .community ul li {
        text-decoration: none;
        list-style: square;
        color: #ffffff; }

.r-reservados {
  background-color: #1dbbfe; }
  .r-reservados .f-copy p {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 15px;
    padding: 2px 5px; }
  .r-reservados .f-phone-sociales nav {
    list-style: none;
    padding: 16px 5px; }
    .r-reservados .f-phone-sociales nav a {
      color: #ffffff;
      font-size: 15px;
      padding: 12px 5px; }
      .r-reservados .f-phone-sociales nav a:hover {
        color: #BEBEBE; }

/*# sourceMappingURL=styles.css.map */
