.footer {
  background-color: $colorFondoAzulOpaco;
  color: $colorTextoBlanco;

  .list-information {
    display: flex;
    justify-content: space-between;

    ul {
      list-style-type: none;
      margin: 70px;
      padding: 50px;
      width: 22.13em;
      text-align: justify;

      h4 {
        text-transform: uppercase;
        font-size: 19px;
        font-weight: bold;
      }
      li {
        p {
          font-size: 14px;
        }
        a {
          text-decoration: none;
          color: $colorTextoBlanco;
          font-size: 14px;
          &:hover {
            color: $colorTextoNaranja;
          }
        }
      }
    }
  }
  .pay {
    display: flex;
    justify-content: center;
    p {
      margin: 20px;
      color: $colorTextoBlanco;
      font-weight: bold;
      &:hover {
        color: $colorTextoNaranja;
      }
    }
    ul {
      list-style-type: none;
      display: flex;

      a {
        color: $colorTextoBlanco;
        text-decoration: none;
        margin: 22px;
        font-size: 40px;
      }
    }
  }
}

