.header-stick {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: $colorFondoPlata;
  z-index: 200;

  .menu-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    background-color: $colorFondoNegro;
    color: $colorTextoBlanco;

    h4 {
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
      padding: 7px 5px;
    }

    .nav-1 {
      a {
        color: $colorTextoBlanco;
        text-decoration: none;
        padding: 12px 9px;
        font-size: 12px;
        text-transform: uppercase;

        &:hover {
          color: $colorTextoNaranja;
        }

        i {
          font-weight: bold;
        }
      }
    }
  }

  .menu-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .nav-2 {
      .img-logo {
        width: 100px;
        height: 100px;
      }
      a {
        text-decoration: none;
        padding: 2px 50px;
        font-size: 15px;
        text-transform: uppercase;
        color: $colorTextoNegro;
        font-weight: bold;

        &:hover {
          color: $colorTextoNaranja;
        }
      }
    }
  }
}
