@media only screen and (min-width: 300px) and (max-width: 500px) {
  .main {
    .c-card {
      background-color: $fondoAmarillo;
      color: $textBlanco;
      letter-spacing: 2px;
      margin: 10px;
    }
    .Mbox {
      background-color: $fondoOscuro;
      color: $textBlanco;
      display: flex;
      padding: 20px;
      margin: 8px;
      i {
        color: $textBlanco;
        font-size: 15px;
        padding-right: 5px;
      }
      h5 {
        color: $textBlanco;
        font-size: 12px;
      }
    }
  }
}
