@media (max-width: $breakpoint-phone) {
  .header-stick {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: $colorFondoPlata;
    z-index: 200;

    .menu-1 {
      display: flex;
      justify-content: center;
      background-color: $colorFondoNegro;
      color: $colorTextoBlanco;

      /* h4 {
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        padding: 7px 5px;
      } */

      /* .nav-1 {
        a {
          color: $colorTextoBlanco;
          text-decoration: none;
          padding: 12px 9px;
          font-size: 12px;
          text-transform: uppercase;

          &:hover {
            color: $colorTextoNaranja;
          }

          i {
            font-weight: bold;
          }
        }
      } */
    }

    .menu-2 {
      display: flex;
      justify-content: flex-start;
      .nav-2 {
        .img-logo {
          display: none;
        }
        a {
          text-decoration: none;
          padding: 2px 6px;
          font-size: 11px;
          text-transform: uppercase;
          color: $colorTextoNegro;
          font-weight: bold;

          &:hover {
            color: $colorTextoNaranja;
          }
        }
      }
    }
  }

  .main {
    .contenedor {
      width: 100%;
      margin: 1px;
    }
    .combo {
      width: 118%;
    }
    .anuncio {
      p {
        font-size: 14px;
        padding: 17px 10px;
      }
    }
    .informacion {
      background-color: $colorFondoPlata;
      display: flex;
      flex-wrap: wrap;
      .titulo {
        margin: 10px 30px;
        h2 {
          text-transform: uppercase;
          color: $colorTextoNegro;
          padding: 10px;
          font-size: 30px;
          font-family: "Libre Baskerville", serif;
          margin: 1px 10px;
          &:hover {
            text-shadow: 5px 5px $colorTextoBlanco;
          }
        }
      }
      .subtitulo {
        h3 {
          width: 17.4em;
          height: 5.4em;
          margin: 0px;
          padding: 16px;
          font-size: 20px;
          font-weight: bold;
          text-align: center;
        }
        p {
          width: 17.4em;
          height: 13.4em;
          margin: 0px;
          padding: 15px;
          font-size: 20px;
          text-align: center;
        }
        a {
          padding: 10px;
          display: block;
          width: 50%;
        }
      }
    }
    .trabajo {
      h3 {
        text-align: center;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: bold;
        font-style: normal;
        padding: 20px;
        margin: 30px;
      }
      .marcas {
        display: flex;
        justify-content: space-around;
        margin: 30px auto;
        img {
          &:hover {
            opacity: 0.3;
          }
        }
      }
    }
  }
}
