.main {
  .contenedor {
    width: 100%;
    margin: 1px;
  }
  .combo {
    width: 104%;
  }
  .anuncio {
    background-color: $colorFondoNaranjaClaro;
    height: 100%;
    p {
      font-family: "Libre Baskerville", serif;
      font-size: 60px;
      font-weight: bold;
      color: $colorTextoBlanco;
      padding: 120px 120px;
      text-transform: uppercase;
      text-shadow: 2px 2px $colorTextoNegro;
      &:hover {
        text-shadow: 1px 1px $colorTextoRojo;
      }
    }
  }
  .informacion {
    background-color: $colorFondoPlata;
    display: flex;
    .titulo {
      margin: 50px 30px;
      h2 {
        text-transform: uppercase;
        color: $colorTextoNegro;
        padding: 15px;
        font-size: 50px;
        font-family: "Libre Baskerville", serif;
        margin: 1px 120px;
        &:hover {
          text-shadow: 5px 5px $colorTextoBlanco;
        }
      }
    }
    .subtitulo {
      margin: 50px 30px;
      h3 {
        color: $colorTextoNegro;
        text-transform: uppercase;
        padding: 20px;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
          sans-serif;
        margin: 1px 120px;
      }
      p {
        color: $colorTextoNegro;
        padding: 5px 25px;
        font-family: "Times New Roman", Times, serif;
        font-size: 15px;
        margin: 1px 120px;
        text-align: justify;
      }
      a {
        background-color: $colorFondoNaranjaClaro;
        color: $colorTextoBlanco;
        padding: 20px;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
        font-weight: bold;
        display: block;
        width: 140px;
        margin: 40px auto;
        &:hover {
          background-color: $colorFondoNegro;
        }
      }
    }
  }
  .trabajo {
    h3 {
      text-align: center;
      text-transform: uppercase;
      font-size: 20px;
      font-weight: bold;
      font-style: normal;
      padding: 20px;
      margin: 30px;
    }
    .marcas {
      display: flex;
      justify-content: space-around;
      margin: 30px auto;
      img {
        &:hover {
          opacity: 0.3;
        }
      }
    }
  }
}
