$bordeRojo: #ff0000;
$bordeVerde:#00FF00;
$colorFondoNegro: #000;
$colorFondoPlata:#e3e4e5;
$colorFondoNaranjaClaro:#ffd82b;
$colorTextoBlanco: #fff;
$colorTextoNegro: #000; 
$colorTextoAmarillo:#f9ff2b;
$colorTextoNaranja:#ffa41d;
$colorTextoRojo:#ff0000;
