$fondoPlata: rgb(205, 205, 211);
$fondoGris:rgb(129, 129, 129);
$fondoBlanco:#fff;
$fondoAmarillo:#f5c714;
$fondoOscuro:#222d35;
$textNaranja:rgba(219, 101, 4, 0.952);
$textNegro:#000;
$textoGris:#827f7f;
$textBlanco:#fff;
$textoAmarillo:#f8c704;