body {
  background-color: #fff; }

.sinMarginLeftRight {
  margin-left: 0;
  margin-right: 0; }

header .logoTools {
  width: 3em;
  height: auto; }
header .text-a:hover {
  color: rgba(219, 101, 4, 0.952) !important; }
header .c-imagenes {
  width: 100%;
  height: auto;
  filter: brightness(60%); }
header .h-titulo {
  font-size: 2em;
  font-weight: bold; }
header .h-subtitulo {
  font-size: 1em;
  font-weight: inherit; }

.main .m-titulo {
  font-size: 2em;
  color: rgba(219, 101, 4, 0.952);
  padding: 15px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 0; }
  .main .m-titulo:hover {
    color: #fff; }
.main .m-imagenes {
  opacity: 0.5; }
  .main .m-imagenes:hover {
    opacity: 1; }
.main .Mtitulo {
  font-size: 2em;
  color: rgba(219, 101, 4, 0.952);
  margin-bottom: 1em;
  letter-spacing: 3px;
  font-family: Georgia, "Times New Roman", Times, serif; }
.main .Msubtitulo {
  font-size: 15px;
  margin-bottom: 4em;
  color: #827f7f;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif; }
.main .Mbtn {
  color: rgba(219, 101, 4, 0.952);
  font-weight: bold; }
.main .c-card {
  background-color: #f5c714;
  color: #fff;
  letter-spacing: 5px;
  margin: 2em; }
  .main .c-card:hover {
    background-color: #222d35;
    transition: background-color 0.5s; }
.main .Mbox {
  background-color: #222d35;
  color: #fff;
  display: flex;
  padding: 40px;
  margin: 15px; }
  .main .Mbox i {
    color: #fff;
    font-size: 30px;
    padding-right: 10px; }
  .main .Mbox h5 {
    color: #fff;
    font-size: 25px; }
.main .m-customers {
  font-weight: bold;
  letter-spacing: 2px;
  padding-top: 3em;
  font-size: 2em; }
.main .m-see span {
  position: absolute;
  left: 40px;
  top: 16px;
  text-transform: uppercase;
  background-color: #f5c714;
  color: #fff;
  width: 3em;
  height: 3em;
  font-size: 25px;
  text-align: center; }
  .main .m-see span p {
    margin: 0; }
.main .m-see img {
  margin-bottom: 25px;
  width: 100%;
  height: auto;
  overflow: hidden;
  background-repeat: no-repeat; }
.main .m-see h5 {
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; }
  .main .m-see h5:hover {
    color: rgba(219, 101, 4, 0.952); }
.main .m-see .mInfoSee {
  font-size: 16px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif; }

footer {
  background-color: #222d35; }
  footer .f-contact {
    padding: 20px; }
    footer .f-contact h4 {
      font-weight: bolder;
      color: #f8c704;
      margin-bottom: 40px;
      padding: 10px; }
    footer .f-contact p {
      color: #fff;
      font-weight: lighter;
      margin-bottom: 20px;
      font-size: 20px;
      margin-left: 20px; }
      footer .f-contact p span {
        margin-right: 16px; }
      footer .f-contact p a {
        text-decoration: none;
        color: #fff; }
        footer .f-contact p a:hover {
          color: #f8c704; }
      footer .f-contact p:hover {
        color: #f8c704; }
  footer .f-about {
    padding: 20px;
    display: flex; }
    footer .f-about div {
      margin: 0 auto; }
    footer .f-about h4 {
      color: #f8c704;
      font-weight: bolder;
      margin-bottom: 20px;
      padding: 10px; }
    footer .f-about ul {
      padding: 10px; }
      footer .f-about ul li {
        list-style: none;
        margin-bottom: 10px; }
        footer .f-about ul li a {
          color: #fff;
          text-decoration: none; }
          footer .f-about ul li a:hover {
            color: #f8c704; }
  footer .f-subscribe {
    padding: 20px; }
    footer .f-subscribe h4 {
      font-weight: bolder;
      color: #f8c704;
      margin-bottom: 40px;
      padding: 10px; }
    footer .f-subscribe p {
      color: #fff;
      font-weight: lighter;
      margin-bottom: 20px;
      font-size: 20px;
      margin-left: 20px; }
    footer .f-subscribe form {
      margin: 20px; }
  footer .f-derechos {
    border-top: 1px solid #fff; }

@media only screen and (min-width: 300px) and (max-width: 500px) {
  .main .c-card {
    background-color: #f5c714;
    color: #fff;
    letter-spacing: 2px;
    margin: 10px; }
  .main .Mbox {
    background-color: #222d35;
    color: #fff;
    display: flex;
    padding: 20px;
    margin: 8px; }
    .main .Mbox i {
      color: #fff;
      font-size: 15px;
      padding-right: 5px; }
    .main .Mbox h5 {
      color: #fff;
      font-size: 12px; } }

/*# sourceMappingURL=estilos.css.map */
