* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: $bg-blanco;
  font-family: 'Montserrat', sans-serif;
}

.bg-pink{
  background-color: $bg-pinku !important;
}

