header {
  .horario {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 15px;
    margin-top: 15px;
  }
  .phone {
    text-decoration: none;
    color: $tx-negro;
    cursor: pointer;
    &:hover {
      color: $tx-pinku;
      transition: all 0.2s ease;
    }
  }
  .enlace {
    font-size: 15px !important;
    font-weight: 400;
    a {
      color: $tx-negro;
      cursor: pointer;
      text-decoration: none;
      i {
        padding: 0 10px;
      }
      &:hover {
        color: $tx-pinku;
        transition: all 0.2s ease;
      }
    }
  }
  .logo {
    padding: 5px;
    img {
      display: block;
      width: 100%;
    }
  }
  .buscador {
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: center;
    .miForm {
      display: flex;
      justify-content: center;
      width: 100%;
      border-radius: 10px;
      &:hover {
        box-shadow: 3px 3px 3px $bg-pinku;
        transition: all 0.5s ease;
      }
    }
    input[type="search"] {
      font-size: 12px;
      background-color: $bg-plata-suave;
      border: 0;
      padding: 20px;
      outline: none;
      border-radius: 10px 0px 0px 10px;
      width: 95%;
    }
    button {
      padding: 12px;
      border: 0;
      color: $tx-negro;
      background-color: $bg-plata-suave;
      border-radius: 0px 10px 10px 0px;
    }
  }
  .botones {
    display: flex;
    justify-content: center;
    padding: 2px;
    width: 100%;
    .link {
      padding: 14px 15px 5px 16px;
      background-color: $bg-pinku;
      color: $tx-blanco;
      margin: 0px 5px;
      text-align: center;
      font-size: 14px;
      font-weight: 700;
      text-decoration: none;
      cursor: pointer;
      display: block;
      width: 100%;
      border-radius: 5px;
      &:hover {
        background-color: $bg-pinku2;
        transition: all 0.3s ease;
      }
      i {
        padding: 2px;
      }
    }
  }
  .cont-sub-menu {
    display: none;
    position: absolute;
    top: 14em;
    z-index: 996;
    width: 69%;
  }
  .menu {
    background-color: $bg-pinku;
    padding: 8px;
    .bras {
      i {
        padding: 3px;
      }
    }
    .sub-menu {
      display: flex;
      background-color: $bg-plata-suave;
      padding: 1em 3em 1em 4em;
      .titulo-sub-menu {
        text-transform: uppercase;
      }
      ul {
        padding: 0;
        width: 40%;
        li {
          list-style: none;
          margin: 5px 0;
          a {
            cursor: pointer;
            text-decoration: none;
            color: $tx-gris;
            font-size: 12px;
            font-weight: 400;
            &:hover {
              color: $tx-pinku;
              transition: ease 0.3s all;
            }
          }
        }
      }
    }
    .menu-link {
      position: relative;
      color: $tx-blanco;
      font-size: 12px;
      font-weight: 700;
      text-decoration: none;
      padding: 15px;
      text-transform: uppercase;
      &:hover {
        color: $tx-negro;
        transition: ease 0.3s all;
      }
    }
  }
  .info-carousel {
    position: absolute;
    top: 10em;
    width: 45%;
    padding: 10px 12px 10px 40px;
    h3 {
      font-size: 4em;
      font-weight: 300;
      margin-bottom: 40px;
      color: $tx-blanco;
    }
    a {
      text-decoration: none;
      padding: 16px 30px;
      border-radius: 5px;
      background-color: $bg-pinku2;
      color: $tx-blanco;
      font-weight: 600;
      font-size: 12px;
      text-transform: uppercase;
      &:hover {
        background-color: $bg-pinku;
        transition: all 0.3s ease;
      }
    }
  }
}
