/*Color de fondos*/
$bg-negro: #000;
$bg-blanco: #fff;
$bg-plata-suave: #e7e7e7;
$bg-plata-suave2: #f6f6f6;
$bg-plata_ligero: #eee;
$bg-pinku: #e8caba;
$bg-pinku2: #dbad94;
$bg-gris: #4a4a4a;
$bg-gris2:#f6f6f6;

/*Color de texto*/
$tx-gris: #4a4a4a;
$tx-negro: #000;
$tx-blanco: #fff;
$tx-plata-suave: #f6f6f6;
$tx-plata_ligero: #eee;
$tx-pinku: #e8caba;
$tx-gris2:#f6f6f6;
