@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*Color de fondos*/
/*Color de texto*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif; }

body {
  background-color: #fff; }

header .horario {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 15px;
  margin-top: 15px; }
header .phone {
  text-decoration: none;
  color: #000;
  cursor: pointer; }
  header .phone:hover {
    color: #e8caba;
    transition: all 0.2s ease; }
header .enlace {
  font-size: 15px !important;
  font-weight: 400; }
  header .enlace a {
    color: #000;
    cursor: pointer;
    text-decoration: none; }
    header .enlace a i {
      padding: 0 10px; }
    header .enlace a:hover {
      color: #e8caba;
      transition: all 0.2s ease; }
header .logo {
  padding: 5px; }
  header .logo img {
    display: block;
    width: 100%; }
header .buscador {
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: center; }
  header .buscador .miForm {
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 10px; }
    header .buscador .miForm:hover {
      box-shadow: 3px 3px 3px #e8caba;
      transition: all 0.5s ease; }
  header .buscador input[type="search"] {
    font-size: 12px;
    background-color: #e7e7e7;
    border: 0;
    padding: 20px;
    outline: none;
    border-radius: 10px 0px 0px 10px;
    width: 95%; }
  header .buscador button {
    padding: 12px;
    border: 0;
    color: #000;
    background-color: #e7e7e7;
    border-radius: 0px 10px 10px 0px; }
header .botones {
  display: flex;
  justify-content: center;
  padding: 2px;
  width: 100%; }
  header .botones .link {
    padding: 14px 15px 5px 16px;
    background-color: #e8caba;
    color: #fff;
    margin: 0px 5px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    display: block;
    width: 100%;
    border-radius: 5px; }
    header .botones .link:hover {
      background-color: #dbad94;
      transition: all 0.3s ease; }
    header .botones .link i {
      padding: 2px; }
header .cont-sub-menu {
  display: none;
  position: absolute;
  top: 14em;
  z-index: 996;
  width: 69%; }
header .menu {
  background-color: #e8caba;
  padding: 8px; }
  header .menu .bras i {
    padding: 3px; }
  header .menu .sub-menu {
    display: flex;
    background-color: #e7e7e7;
    padding: 1em 3em 1em 4em; }
    header .menu .sub-menu .titulo-sub-menu {
      text-transform: uppercase; }
    header .menu .sub-menu ul {
      padding: 0;
      width: 40%; }
      header .menu .sub-menu ul li {
        list-style: none;
        margin: 5px 0; }
        header .menu .sub-menu ul li a {
          cursor: pointer;
          text-decoration: none;
          color: #4a4a4a;
          font-size: 12px;
          font-weight: 400; }
          header .menu .sub-menu ul li a:hover {
            color: #e8caba;
            transition: ease 0.3s all; }
  header .menu .menu-link {
    position: relative;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    padding: 15px;
    text-transform: uppercase; }
    header .menu .menu-link:hover {
      color: #000;
      transition: ease 0.3s all; }
header .info-carousel {
  position: absolute;
  top: 10em;
  width: 45%;
  padding: 10px 12px 10px 40px; }
  header .info-carousel h3 {
    font-size: 4em;
    font-weight: 300;
    margin-bottom: 40px;
    color: #fff; }
  header .info-carousel a {
    text-decoration: none;
    padding: 16px 30px;
    border-radius: 5px;
    background-color: #dbad94;
    color: #fff;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase; }
    header .info-carousel a:hover {
      background-color: #e8caba;
      transition: all 0.3s ease; }

@media only screen and (min-width: 300px) and (max-width: 500px) {
  header .logo {
    display: none; }
  header .buscador {
    width: 100%;
    padding: 15px; }
    header .buscador input {
      font-size: 12px;
      background-color: #e7e7e7;
      border: 0;
      padding: 16px;
      width: 80%;
      outline: none;
      border-radius: 5px;
      width: 92%; }
      header .buscador input:hover {
        box-shadow: 10px 5px 5px #e8caba;
        transition: all 0.5s ease; }
    header .buscador button {
      padding: 0px;
      border: 0;
      color: #000;
      background-color: #e7e7e7;
      position: relative;
      right: 3em;
      border-radius: 5px; }
  header .botones {
    display: flex;
    flex-wrap: wrap;
    padding: 2px;
    margin-top: 5px; }
    header .botones .link {
      margin: 5px 10px;
      text-align: center;
      cursor: pointer;
      padding: 7px 20px;
      text-decoration: none;
      color: #fff;
      font-size: 15px;
      font-weight: 700;
      border-radius: 5px;
      background-color: #e8caba;
      width: 100%; }
      header .botones .link:hover {
        background-color: #dbad94;
        transition: ease 0.3s all; }
      header .botones .link i {
        padding: 5px; } }

/*# sourceMappingURL=estilos.css.map */
