@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*Color de fondos*/
/*Color de texto*/
* {
  font-family: "Montserrat", sans-serif; }

body {
  background-color: #fff; }

header .bg-blanco-suave {
  background-color: #e7e7e7;
  padding: 0; }
header .menu {
  padding: 5px; }
  header .menu .time,
  header .menu .telephone {
    text-decoration: none;
    color: #000;
    font-size: 12px;
    line-height: 15px; }
  header .menu .telephone {
    font-size: 16px;
    line-height: 12px; }
    header .menu .telephone:hover {
      color: #e8caba;
      transition: all 0.5s ease;
      font-weight: 400; }
header .menu-link .navfont {
  font-size: 12px !important; }
header .icon:hover {
  color: #e8caba !important;
  transition: all 0.5s ease !important; }
header .icon i {
  margin-right: 3px; }
header .logo {
  display: flex;
  width: 100%; }
header .search {
  display: flex;
  width: 100%;
  padding: 16px; }
  header .search input[type="text"] {
    color: #4a4a4a;
    display: block;
    margin: 0;
    width: 100%;
    height: 55px;
    padding: 20.5px 35px 20.5px 25px;
    background: #f6f6f6;
    border: 9px solid #f6f6f6;
    letter-spacing: 0.5px;
    border-radius: 4px 0 0 4px;
    outline: none;
    font-size: 10px; }
    header .search input[type="text"]:hover {
      box-shadow: 5px 7px 15px #e8caba;
      transition: all 0.5s ease; }
  header .search .button-search {
    background-color: #f6f6f6;
    border: 0;
    border-radius: 0 4px 4px 0;
    outline: none; }
  header .search .fa {
    color: #4a4a4a;
    background-color: #eee;
    line-height: inherit; }
    header .search .fa:hover {
      color: #e8caba;
      transition: all 0.2s ease; }
header .buy {
  padding: 16px;
  width: 100%;
  display: flex; }
  header .buy a {
    background-color: #e8caba;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.8px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    padding: 14px;
    width: 162px;
    height: 55px;
    display: inline-block;
    position: relative;
    float: right;
    border-radius: 4px;
    margin-left: 15px;
    text-align: center; }
    header .buy a:hover {
      background-color: #dbad94;
      transition: all 0.3s ease; }
    header .buy a i {
      margin-right: 4px; }
header .categories {
  background-color: #e8caba;
  display: flex; }
  header .categories .menu-categories {
    padding: 10px; }
    header .categories .menu-categories a {
      text-decoration: none;
      cursor: pointer;
      color: #fff;
      padding: 16px;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 1px; }
      header .categories .menu-categories a:hover {
        color: #000;
        transition: all 0.2s ease; }
      header .categories .menu-categories a i {
        margin-left: 3px; }
  header .categories .subMenu {
    display: none; }
  header .categories .subMenuSee {
    background-color: #f6f6f6;
    width: 98%;
    z-index: 998;
    position: absolute;
    top: 5em;
    animation: fadeInDown;
    animation-duration: 3s;
    color: #000;
    min-height: 250px;
    padding: 16px;
    display: flex;
    justify-content: space-around;
    font-weight: 300;
    font-size: 14px; }
    header .categories .subMenuSee ul {
      list-style: none;
      padding: 0;
      margin: 0; }
      header .categories .subMenuSee ul li a {
        text-decoration: none;
        color: #000;
        line-height: 2em; }
        header .categories .subMenuSee ul li a:hover {
          color: #e8caba;
          transition: all 0.2s ease; }
  header .categories .titulo {
    text-transform: uppercase;
    margin-bottom: 16px; }
header .marco-carousel {
  height: 40em;
  width: 100%;
  position: relative;
  top: 2em; }
header .figure-carousel {
  width: 100% !important;
  height: 40em;
  border-radius: 5px; }
header .info {
  border: 1px solid red;
  position: relative;
  bottom: 30em;
  left: 1em;
  width: 50%;
  padding: 16px; }
  header .info .titulo {
    font-size: 60px;
    line-height: 1.15em;
    font-weight: 300;
    letter-spacing: -1.5px;
    text-transform: none;
    margin-bottom: 35px; }
  header .info .btn-info {
    background-color: #e8caba;
    color: #fff;
    text-transform: uppercase;
    padding: 19px 26px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer; }
    header .info .btn-info:hover {
      background-color: #dbad94;
      transition: all 0.2s ease; }

/*# sourceMappingURL=estilos.css.map */
