@media only screen and (max-width: 960px) {
  header {
    .r-life {
      .h-life {
        padding: 5em 1em;
        .h-h2-titulo {
          font-size: 30px;
          color: $textoBlanco;
          padding: 2em 0em;
          font-family: "Noto Sans JP", sans-serif;
        }
      }
    }
  }
  .main {
    .r-picture {
      .m-picture {
        display: none;
      }
      .m-wellcome {
        background-color: $fondoPlata;
        width: 100%;
        position: relative;
        bottom: 0;
        right: 0;
      }
    }
    .r-live {
      .m-image {
        img {
          display: none;
        }
      }
      .m-cats {
        background-color: $fondoPlata;
        padding: 1em 2em;
        position: relative;
        top: 0em;
        right: 0em;
      }
    }
  }
}
