$bordeRojo:#ff0000;
$bordeVerde:#00ff00;
$fondoOpaco:rgba(0,0,0,0.5);
$fondoNaranja:rgba(248, 142, 2, 0.424);
$fondoNaranja-2:rgba(248, 141, 2, 0.904);
$fondoAmarillo:rgb(176, 179, 2);
$textoBlanco:#ffffff;
$textoNegro:#000000;
$fondoNegro:#000000;
$fondoPlata:#e3e4e5;
$TextoAmarillo:rgba(245, 241, 18, 0.966);
$TextoAmarillo-2:rgb(245, 241, 18);

