header {
  .logo {
    width: auto;
    height: 3em;
  }
  .font-text {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1em;
    margin-bottom: 0;
    padding: 1em;
  }
  .telefono {
    font-weight: bold;
    text-decoration: none;
    color: $textGrisTransparente;
    &:hover {
      color: $textMoradoFuerte;
    }
  }
  .redes-sociales {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    .link {
      font-size: 1em;
      color: $textVerdeClaro;
      &:hover {
        color: $textAzulMedioAgua;
      }
    }
  }
  .hTextoCarousel {
    position: absolute;
    bottom: 7em;
    left: 7em;
    .hTitulo {
      color: $textBlanco;
      font-family: "Montserrat", Sans-serif;
      font-size: 24px;
      font-weight: 400;
      text-transform: uppercase;
      animation: bounceInLeft;
      animation-duration: 2s;
    }
    .hSubtitulo {
      color: $textBlanco;
      font-family: "Libre Baskerville", Sans-serif;
      font-size: 64px;
      font-weight: 300;
      animation: bounceInDown;
      animation-duration: 2s;
    }
    .hButtom {
      background-color: $bgBlanco;
      border: 0;
      color: $textAzulMedio;
      text-decoration: none;
      padding: 2em 3em;
      display: block;
      margin-top: 2em;
      max-width: 13em;
      text-transform: uppercase;
      text-decoration: center;
      animation: bounceInLeft;
      animation-duration: 2s;
      &:hover {
        background-color: $bgAzulFuerte;
        color: $textBlanco;
        transition: all 0.3s ease;
      }
    }
  }
}
