.main {
  .mAdults {
    background-color: $bgMoradoFuerte;
    color: $textBlanco;
    padding: 53px 38px 38px 077px;
    border-top: 7px solid $textVerdeClaro;

    .mTitulo {
      font-family: "Libre Baskerville", serif;
      font-size: 3em;
      font-weight: 400;
      margin-bottom: 16px;
    }
    .mInfo {
      font-family: "Lato", serif;
      font-size: 17px;
      font-weight: 300;
      line-height: 1.6em;
      margin-bottom: 30px;
      color: $textGrisMedio;
    }
  }
  .mChildren {
    background-color: $bgMoradoMedio;
    color: $textBlanco;
    padding: 53px 38px 38px 077px;
    border-top: 7px solid $textAzulClaro;
    .mTitulo {
      font-family: "Libre Baskerville", serif;
      font-size: 3em;
      font-weight: 400;
      margin-bottom: 16px;
    }
    .mInfo {
      font-family: "Lato", serif;
      font-size: 17px;
      font-weight: 300;
      line-height: 1.6em;
      margin-bottom: 30px;
      color: $textGrisMedio;
    }
  }
  .mBusiness {
    background-color: $bgMoradoLigero;
    color: $textBlanco;
    padding: 53px 38px 38px 077px;
    border-top: 7px solid $textMoradoLigero;
    .mTitulo {
      font-family: "Libre Baskerville", serif;
      font-size: 3em;
      font-weight: 400;
      margin-bottom: 16px;
    }
    .mInfo {
      font-family: "Lato", serif;
      font-size: 17px;
      font-weight: 300;
      line-height: 1.6em;
      margin-bottom: 30px;
      color: $textGrisMedio;
    }
  }
  .mLista {
    list-style: none;
    text-transform: uppercase;
    padding-left: 0;
    font-weight: bold;
    li {
      margin-bottom: 16px;
      font-family: "Lato", serif;
      font-size: 14px;
      line-height: 30px;
    }
  }
  .Therapies {
    padding: 10px 4px 16px 4px;
    .mTitulo {
      color: $bgMoradoFuerte;
      font-family: "Libre Baskerville", Sans-serif;
      font-size: 30px;
      font-weight: 400;
    }
    .mInfo {
      color: $textGrisMedio2;
      font-family: "Roboto", Sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.6em;
      border-bottom: 2px solid $textVerdeClaro;
      padding-bottom: 3em;
    }
  }
  /* .mAnimate{
    &:hover{
      animation: pulse;
      animation-duration: 2s;
    }
  } */
  .mCategorias {
    .mIcono {
      color: $textAzulClaro;
      font-size: 20px;
      padding: 5px;
      font-size: 2em;
    }
    .mEnlace {
      font-family: "Libre Baskerville", Sans-serif;
      font-size: 20px;
      font-weight: 300;
      color: $textAzulClaro;
      text-decoration: none;
      &:hover {
        transition: all 0.3s ease;
        color: $textMoradoFuerte;
      }
    }
    .mInfo {
      color: $textNegroMedio;
      font-family: "Lato", Sans-serif;
      font-size: 16px;
      font-weight: 300;
      margin-left: 54px;
    }
  }
  .mClinic1 {
    opacity: 0.5;
  }
  .mClinic2 {
    padding: 5em;
    margin: 2em 1px;
    h2 {
      font-family: "Libre Baskerville", Sans-serif;
      font-size: 30px;
      font-weight: 400;
      color: $textNegroFuerte;
      border-bottom: 2px solid $textVerdeClaro;
      padding-bottom: 16px;
    }
    h4 {
      color: $textNegroFuerte;
      font-family: "Lato", Sans-serif;
      font-size: 24px;
      font-weight: 300;
      text-transform: none;
      font-style: normal;
      text-decoration: none;
      padding-bottom: 16px;
    }
    p {
      font-family: "Lato", Sans-serif;
      font-size: 18px;
      font-weight: 300;
      padding-bottom: 16px;
    }
    a {
      font-family: "Lato", Sans-serif;
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      font-style: normal;
      line-height: 1.1em;
      letter-spacing: 2px;
      background-color: $bgMoradoLigero;
      color: $textBlanco;
      padding: 20px 29px;
      text-decoration: none;
      border-radius: 10px;
      &:hover {
        background-color: $bgAzulTransparente;
      }
    }
  }
  .mHelp {
    background-image: url("../img/help.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    width: 100%;
    height: 25em;
    filter: brightness(50%);
  }
  .mHelpH {
    position: absolute;
    z-index: 4;
    /*  border: 1px solid blue; */
    top: 4em;
    left: 0;
    right: 0;
    bottom: 0px;
    width: 100%;
    height: 16em;
    p {
      font-family: "Libre Baskerville", Sans-serif;
      font-size: 40px;
      font-weight: 400;
      color: $textBlanco;
      margin-bottom: 20px;
    }
    h2 {
      font-family: "Libre Baskerville", Sans-serif;
      font-size: 30px;
      font-weight: 400;
      color: $textBlanco;
      margin-bottom: 20px;
    }
    h4 {
      font-family: "Libre Baskerville", Sans-serif;
      font-size: 24px;
      font-weight: 400;
      color: $textBlanco;
      margin-bottom: 20px;
    }
    a {
      font-family: "Lato", Sans-serif;
      font-size: 50px;
      font-weight: 300;
      text-transform: none;
      font-style: normal;
      line-height: 1em;
      letter-spacing: 0px;
      display: block;
      text-align: center;
      text-decoration: none;
      margin-bottom: 20px;
      color: $textBlanco;
      strong {
        font-weight: bold;
      }
      &:hover {
        transition: all 0.3s ease;
        color: $textAzulMedio;
      }
    }
  }
  .mCase {
    border-bottom: 2px solid $textVerdeClaro;
    padding-bottom: 2em;
    h2 {
      font-family: "Libre Baskerville", Sans-serif;
      font-size: 30px;
      font-weight: 400;
      color: $textNegroFuerte;
    }
  }
  .mOwlCenter {
    .owl-theme .owl-dots .owl-dot span {
      border: 1px solid $textGrisMedio;
      &:hover {
        background-color: $textGrisMedio2;
      }
    }
    .owl-nav {
      display: none;
    }
    .item {
      margin: 12px;
      .card {
        border-radius: 8px;
      }
      .img-fluid {
        height: 14em;
        border-radius: 8px;
      }
    }
    .card-title {
      font-family: "Libre Baskerville", Sans-serif;
      font-size: 20px;
      font-weight: normal;
      line-height: 1.4em;
      text-align: center;
      margin: 3.2% 12% 4% 12%;
      color: $textNegroFuerte;
    }
    .card-text {
      font-family: "Lato", Sans-serif;
      font-size: 16px;
      font-weight: 300;
      text-transform: none;
      font-style: normal;
      text-decoration: none;
      line-height: 1.6em;
      letter-spacing: 0px;
      text-align: center;
      margin: 3% 16% 7% 16%;
      color: $textNegroFuerte;
    }
  }
  .mConsulta {
    background-color: $bgMoradoMedio;
    padding: 8.2em 0.2em 5em 8.5em;
    /* padding: 3em; */
    .titulo {
      color: $textBlanco;
      font-family: "Libre Baskerville", Sans-serif;
      font-size: 30px;
      font-weight: 400;
    }
    .separador {
      border-bottom: 4px solid $bgVerdeClaro;
      margin-bottom: 1em;
    }
    .subTitulo {
      color: $textBlanco;
      font-family: "Lato", Sans-serif;
      font-size: 18px;
      font-weight: 300;
      line-height: 1.6em;
      margin-bottom: 3em;
      margin-top: 1em;
    }
    .enlace {
      font-family: "Lato", Sans-serif;
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      font-style: normal;
      text-decoration: none;
      line-height: 1.1em;
      letter-spacing: 2px;
      fill: $textAzulClaro;
      color: $textAzulClaro;
      background-color: $bgBlanco;
      border-radius: 3px 3px 3px 3px;
      padding: 21px 50px 21px 50px;
      &:hover {
        background-color: $textAzulClaro;
        color: $textBlanco;
        transition: all 0.3s ease;
      }
    }
  }
  .mConsultaDos {
    .imgConsulta {
      width: 100%;
      height: 28.8em;
    }
  }
}

.main-personal {
  /*  .bg-fondo-fila {
    background-color: $bgAzulMedio;
  } */
  .mPersonal {
    padding: 2em;
    .titulo {
      font-family: "Libre Baskerville", Sans-serif;
      font-size: 30px;
      font-weight: 400;
      text-transform: none;
      font-style: normal;
      text-decoration: none;
      line-height: 1em;
      color: $textBlanco;
    }
    .subtitulo {
      font-family: "Lato", Sans-serif;
      font-size: 18px;
      font-weight: 300;
      text-transform: none;
      font-style: normal;
      color: $textBlanco;
    }
  }
  .mTeam {
    animation: fadeInLeftBig;
    animation-duration: 3s;
    width: 65%;
    margin: 5em auto;
    .mTituloTeam {
      font-family: "Lato", Sans-serif;
      font-size: 26px;
      font-weight: bold;
      text-transform: none;
      font-style: normal;
      text-decoration: none;
      line-height: 1.3em;
      letter-spacing: 0px;
      color: $textNegroFuerte;
      border-bottom: 2px solid $textVerdeClaro;
      padding-bottom: 20px;
    }

    .mSubtituloTeam {
      font-family: "Lato", Sans-serif;
      font-size: 22px;
      font-weight: 300;
      line-height: 1.56em;
      color: $textNegroFuerte;
    }
  }
  .mTeamDos {
    animation: fadeInRight;
    animation-duration: 3s;
    .imgTeam {
      width: 100%;
      height: 25.8em;
    }
  }
  .mEspecialistas {
    padding: 2em;
    .mTitulo {
      font-family: "Lato", Sans-serif;
      font-size: 30px;
      font-weight: 400;
      text-transform: none;
      font-style: normal;
      text-decoration: none;
      line-height: 1.3em;
      letter-spacing: 0px;
      color: $textNegroFuerte;
      border-bottom: 3px solid $textAzulClaro;
      padding-bottom: 1em;
    }
  }
  .card {
    &:hover {
      box-shadow: 5px 5px 50px 8px $bgBlancoGris;
    }
    .mDepartamento {
      font-family: "Lato", Sans-serif;
      font-size: 12px;
      font-weight: 400;
      text-transform: uppercase;
      font-style: normal;
      text-decoration: none;
      line-height: 1.5em;
      letter-spacing: 1px;
      color: $textGrisLigero;
      margin-bottom: -0.25rem;
    }
    .mNombre {
      font-family: "Lato", Sans-serif;
      font-size: 18px;
      font-weight: 500;
      text-transform: none;
      font-style: normal;
      text-decoration: none;
      line-height: 1.5em;
      letter-spacing: 0px;
      a {
        color: $textNegroFuerte;
        text-decoration: none;
        &:hover {
          color: $textAzulClaro;
          transition: all 0.2s ease;
        }
      }
    }
    .mTel,
    .mEmail {
      font-family: "Lato", Sans-serif;
      font-size: 14px;
      font-weight: 300;
      text-transform: none;
      font-style: normal;
      text-decoration: none;
      line-height: 1.6em;
      display: block;
      text-decoration: none;
      color: $textNegroFuerte;
      &:hover {
        color: $textAzulMedio;
        transition: all 0.3s ease;
      }
      .mIcono {
        color: $textVerdeClaro;
        margin-right: 10px;
        &:hover {
          color: $textNegroFuerte;
        }
      }
    }
  }
  .mInfo {
    .mTitulo {
      font-family: "Lato", Sans-serif;
      font-size: 26px;
      font-weight: 400;
      text-transform: none;
      font-style: normal;
      text-decoration: none;
      line-height: 1.3em;
      letter-spacing: 0px;
      color: $textNegroFuerte;
      border-bottom: 2px solid $bgAzulMedio;
      padding-bottom: 10px;
    }
    .mSubtitulo {
      font-family: "Lato", Sans-serif;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.56em;
      color: $textNegroMedio;
    }
  }
  .mIcon {
    color: $textBlanco;
    padding: 5px;
    font-size: 5em;
  }
  .mCont {
    padding: 16px;
    .mTitulo {
      font-family: "Lato", Sans-serif;
      font-size: 27px;
      font-weight: 400;
      text-transform: none;
      font-style: normal;
      text-decoration: none;
      line-height: 1.3em;
      color: $textBlanco;
    }
    .mSubtitulo {
      font-family: "Lato", Sans-serif;
      font-size: 20px;
      font-weight: 300;
      text-transform: none;
      font-style: normal;
      text-decoration: none;
      line-height: 1.5em;
      letter-spacing: 0px;
      color: $textBlanco;
    }
  }
  .mMedical {
    margin-top: 24px;
    display: flex;
    justify-content: flex-end;
    a {
      font-family: "Lato", Sans-serif;
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      font-style: normal;
      text-decoration: none;
      line-height: 1.1em;
      letter-spacing: 2px;
      fill: $textBlanco;
      color: $textBlanco;
      background-color: rgba(255, 255, 255, 0);
      border-style: solid;
      border-width: 1px 1px 1px 1px;
      border-color: $textBlanco;
      padding: 21px 50px 21px 50px;
      &:hover {
        color: $textAzulMedio;
        background-color: $textBlanco;
        transition: all 0.3s ease;
      }
    }
  }
}

.main-contact {
  .mContac {
    padding: 2em;
    .titulo {
      font-family: "Libre Baskerville", Sans-serif;
      font-size: 30px;
      font-weight: 400;
      text-transform: none;
      font-style: normal;
      text-decoration: none;
      line-height: 1em;
      color: $textBlanco;
    }
    .subtitulo {
      font-family: "Lato", Sans-serif;
      font-size: 18px;
      font-weight: 300;
      text-transform: none;
      font-style: normal;
      color: $textBlanco;
    }
  }
  .mCall1 {
    .titulo {
      font-family: "Lato", Sans-serif;
      font-size: 26px;
      font-weight: 400;
      text-transform: none;
      font-style: normal;
      text-decoration: none;
      line-height: 1.3em;
      letter-spacing: 0px;
      color: $textNegroFuerte;
      margin-bottom: 25px;
    }
    .subtitulo {
      font-family: "Lato", Sans-serif;
      font-size: 18px;
      font-weight: 300;
      text-transform: none;
      font-style: normal;
      line-height: 25.6px;
      letter-spacing: 0px;
      margin-bottom: 30px;
    }
    .tituloEm {
      font-family: "Lato", Sans-serif;
      font-size: 18px;
      font-weight: 400;
      text-transform: none;
      font-style: normal;
      text-decoration: none;
      line-height: 1.2em;
      letter-spacing: 0px;
      color: $textAzulMedio;
      .iconEm {
        font-size: 2em;
        padding: 6px;
      }
    }
    .subtituloEm {
      font-family: "Lato", Sans-serif;
      font-size: 26px;
      font-weight: 400;
      text-transform: none;
      font-style: normal;
      line-height: 1.1em;
      margin-left: 12px;
      a {
        text-decoration: none;
        color: $textNegroFuerte;
        margin-left: 1em;
        &:hover {
          color: $textAzulClaro;
          transition: all 0.2s ease;
        }
      }
    }
  }
  .mCall2 {
    .imgEm {
      width: 100%;
      height: 29em;
    }
  }
  .mInfo {
    padding: 4.3em 2.8em 3.4em 2.2em;
    width: 30em;
    margin: 2px auto;
    .titulo {
      font-family: "Lato", Sans-serif;
      font-size: 20px;
      font-weight: 400;
      text-transform: none;
      font-style: normal;
      text-decoration: none;
      line-height: 0em;
      letter-spacing: 0px;
      color: $textBlanco;
      .iconIn {
        padding: 9px;
        font-size: 2em;
      }
    }
    .subtitulo {
      font-family: "Lato", Sans-serif;
      font-size: 14px;
      font-weight: 300;
      text-transform: none;
      font-style: normal;
      line-height: 1.75em;
      color: $textBlanco;
      margin-left: 3.375em;
    }
  }
}
