.main {
  .mAdults {
    background-color: $bgMoradoFuerte;
    color: $textBlanco;
    padding: 53px 38px 38px 077px;
    border-top: 7px solid $textVerdeClaro;

    .mTitulo {
      font-family: "Libre Baskerville", serif;
      font-size: 3em;
      font-weight: 400;
      margin-bottom: 16px;
    }
    .mInfo {
      font-family: "Lato", serif;
      font-size: 17px;
      font-weight: 300;
      line-height: 1.6em;
      margin-bottom: 30px;
      color: $textGrisMedio;
    }
  }
  .mChildren {
    background-color: $bgMoradoMedio;
    color: $textBlanco;
    padding: 53px 38px 38px 077px;
    border-top: 7px solid $textAzulClaro;
    .mTitulo {
      font-family: "Libre Baskerville", serif;
      font-size: 3em;
      font-weight: 400;
      margin-bottom: 16px;
    }
    .mInfo {
      font-family: "Lato", serif;
      font-size: 17px;
      font-weight: 300;
      line-height: 1.6em;
      margin-bottom: 30px;
      color: $textGrisMedio;
    }
  }
  .mBusiness {
    background-color: $bgMoradoLigero;
    color: $textBlanco;
    padding: 53px 38px 38px 077px;
    border-top: 7px solid $textMoradoLigero;
    .mTitulo {
      font-family: "Libre Baskerville", serif;
      font-size: 3em;
      font-weight: 400;
      margin-bottom: 16px;
    }
    .mInfo {
      font-family: "Lato", serif;
      font-size: 17px;
      font-weight: 300;
      line-height: 1.6em;
      margin-bottom: 30px;
      color: $textGrisMedio;
    }
  }
  .mLista {
    list-style: none;
    text-transform: uppercase;
    padding-left: 0;
    font-weight: bold;
    li {
      margin-bottom: 16px;
      font-family: "Lato", serif;
      font-size: 14px;
      line-height: 30px;
    }
  }
  .Therapies {
    padding: 10px 4px 16px 4px;
    .mTitulo {
      color: $bgMoradoFuerte;
      font-family: "Libre Baskerville", Sans-serif;
      font-size: 30px;
      font-weight: 400;
    }
    .mInfo {
      color: $textGrisMedio2;
      font-family: "Roboto", Sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.6em;
      border-bottom: 2px solid $textVerdeClaro;
      padding-bottom: 3em;
    }
  }
  /* .mAnimate{
    &:hover{
      animation: pulse;
      animation-duration: 2s;
    }
  } */
  .mCategorias {
    .mIcono {
      color: $textAzulClaro;
      font-size: 20px;
      padding: 5px;
      font-size: 2em;
    }
    .mEnlace {
      font-family: "Libre Baskerville", Sans-serif;
      font-size: 20px;
      font-weight: 300;
      color: $textAzulClaro;
      text-decoration: none;
      &:hover {
        transition: all 0.3s ease;
        color: $textMoradoFuerte;
      }
    }
    .mInfo {
      color: $textNegroMedio;
      font-family: "Lato", Sans-serif;
      font-size: 16px;
      font-weight: 300;
      margin-left: 54px;
    }
  }
}
