@media only screen and (max-width: 760px) {
  .carousel {
    display: none;
  }
  .main {
    .mConsulta {
      padding: 3em;
    }
  }
  .main-personal {    
    .mIcon {
      color: $textBlanco;
      font-size: 5em;
      margin: 2px auto;
    }
    .mCont {
      padding: 16px;
      .mTitulo {
        font-family: "Lato", Sans-serif;
        font-size: 27px;
        font-weight: 400;
        text-transform: none;
        font-style: normal;
        text-decoration: none;
        line-height: 1.3em;
        color: $textBlanco;
        text-align: center;
      }
      .mSubtitulo {
        font-family: "Lato", Sans-serif;
        font-size: 20px;
        font-weight: 300;
        text-transform: none;
        font-style: normal;
        text-decoration: none;
        line-height: 1.5em;
        letter-spacing: 0px;
        color: $textBlanco;
        text-align: center;
      }
    }
    .mMedical {
      margin: 10px;
      display: flex;
      justify-content: center;
      a {
        font-family: "Lato", Sans-serif;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        font-style: normal;
        text-decoration: none;
        line-height: 1.1em;
        letter-spacing: 2px;
        fill: $textBlanco;
        color: $textBlanco;
        background-color: rgba(255, 255, 255, 0);
        border-style: solid;
        border-width: 1px 1px 1px 1px;
        border-color: $textBlanco;
        padding: 21px 50px 21px 50px;
        &:hover {
          color: $textAzulMedio;
          background-color: $textBlanco;
          transition: all 0.3s ease;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 980px) {
  header {
    .hTextoCarousel {
      position: absolute;
      bottom: 4em;
      left: 5em;
      .hTitulo {
        color: $textBlanco;
        font-family: "Montserrat", Sans-serif;
        font-size: 25px;
        font-weight: 400;
        text-transform: uppercase;
        animation: bounceInLeft;
        animation-duration: 2s;
      }
      .hSubtitulo {
        color: $textBlanco;
        font-family: "Libre Baskerville", Sans-serif;
        font-size: 18px;
        font-weight: 300;
        animation: bounceInDown;
        animation-duration: 2s;
      }
      .hButtom {
        background-color: $bgBlanco;
        border: 0;
        color: $textAzulMedio;
        text-decoration: none;
        padding: 1em;
        display: block;
        margin-top: 1em;
        max-width: 9em;
        text-transform: uppercase;
        text-decoration: center;
        animation: bounceInLeft;
        animation-duration: 2s;
        &:hover {
          background-color: $bgAzulFuerte;
          color: $textBlanco;
          transition: all 0.3s ease;
        }
      }
    }
  }
  .main {
    .mConsulta {
      padding: 4em;
    }
  }
  .main-personal {    
    .mIcon {
      color: $textBlanco;
      font-size: 5em;
      margin: 2px auto;
    }
    .mCont {
      padding: 16px;
      .mTitulo {
        font-family: "Lato", Sans-serif;
        font-size: 27px;
        font-weight: 400;
        text-transform: none;
        font-style: normal;
        text-decoration: none;
        line-height: 1.3em;
        color: $textBlanco;
        text-align: center;
      }
      .mSubtitulo {
        font-family: "Lato", Sans-serif;
        font-size: 20px;
        font-weight: 300;
        text-transform: none;
        font-style: normal;
        text-decoration: none;
        line-height: 1.5em;
        letter-spacing: 0px;
        color: $textBlanco;
        text-align: center;
      }
    }
    .mMedical {
      margin: 10px;
      display: flex;
      justify-content: center;
      a {
        font-family: "Lato", Sans-serif;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        font-style: normal;
        text-decoration: none;
        line-height: 1.1em;
        letter-spacing: 2px;
        fill: $textBlanco;
        color: $textBlanco;
        background-color: rgba(255, 255, 255, 0);
        border-style: solid;
        border-width: 1px 1px 1px 1px;
        border-color: $textBlanco;
        padding: 21px 50px 21px 50px;
        &:hover {
          color: $textAzulMedio;
          background-color: $textBlanco;
          transition: all 0.3s ease;
        }
      }
    }
  }
}
