/*Color Text*/
$textBlanco:#ffffff;
$textAzulClaro:#66A9D8;
$textAzulMedio:#2a93c9;
$textAzulMedioAgua:#24466f;
$textNegroMedio:#42474c;
$textNegroFuerte:#1e2428;
$textGrisMedio:#a9a0b4;
$textGrisMedio2:#7a7a7a;
$textVerdeClaro:#63d2af;
$textGrisTransparente:rgba(66,71,76,0.6);
$textMoradoFuerte:#2a1f36;
$textMoradoLigero:#7649a7;
$textGrisLigero:#b5b9bb;
/*Bg-Color*/
$bgVerdeClaro:#63d2af;
$bgAzulVerde:#56b0d2;
$bgAzulverde2:#6cc8df;
$bgAzulTransparente:rgba(86,176,210,0.8);
$bgAzulFuerte:#2a88c9;
$bgAzulMedio:#6EC1E4;
$bgMoradoFuerte:#2a1f36;
$bgMoradoMedio:#30243e;
$bgMoradoLigero:#372649;
$bgGrisLigero:#8f98a3;
$bgGrisClaro:#f9fbfc;
$bgBlancoTransparente:rgba(255,255,255,0.2);
$bgBlanco:#ffffff;
$bgBlancoGris:#eaeaea;





