/*Color Text*/
$textBlanco:#ffffff;
$textAzulClaro:#66A9D8;
$textAzulMedio:#2a93c9;
$textAzulMedioAgua:#24466f;
$textNegroMedio:#42474c;
$textVerdeClaro:#63d2af;
$textGrisTransparente:rgba(66,71,76,0.6);
$textMoradoFuerte:#2a1f36;
/*Bg-Color*/
$bgVerdeClaro:#63d2af;
$bgAzulVerde:#56b0d2;
$bgAzulverde2:#6cc8df;
$bgAzulTransparente:rgba(86,176,210,0.8);
$bgAzulFuerte:#2a88c9;
$bgMoradoFuerte:#2a1f36;
$bgMoradoMedio:#30243e;
$bgMoradoLigero:#2a1f36;
$bgGrisLigero:#8f98a3;
$bgGrisClaro:#f9fbfc;
$bgBlancoTransparente:rgba(255,255,255,0.2);




