/*Fuentes*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=ZCOOL+KuaiLe&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=ZCOOL+KuaiLe&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&family=ZCOOL+KuaiLe&display=swap");
/*Color Text*/
/*Bg-Color*/
/*Estilos generales*/
.sinMargin {
  margin: 0 !important; }

.sinPadding {
  padding: 0 !important; }

.contenedor {
  display: flex;
  flex-wrap: wrap;
  /*  border: 1px solid blue; */
  max-width: 1140px;
  width: 100%;
  margin-right: auto;
  margin-left: auto; }

header .logo {
  width: auto;
  height: 3em; }
header .font-text {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1em;
  margin-bottom: 0;
  padding: 1em; }
header .telefono {
  font-weight: bold;
  text-decoration: none;
  color: rgba(66, 71, 76, 0.6); }
  header .telefono:hover {
    color: #2a1f36; }
header .redes-sociales {
  display: flex;
  justify-content: space-between;
  padding: 1em; }
  header .redes-sociales .link {
    font-size: 1em;
    color: #63d2af; }
    header .redes-sociales .link:hover {
      color: #24466f; }
header .hTextoCarousel {
  position: absolute;
  bottom: 7em;
  left: 7em; }
  header .hTextoCarousel .hTitulo {
    color: #ffffff;
    font-family: "Montserrat", Sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    animation: bounceInLeft;
    animation-duration: 2s; }
  header .hTextoCarousel .hSubtitulo {
    color: #ffffff;
    font-family: "Libre Baskerville", Sans-serif;
    font-size: 64px;
    font-weight: 300;
    animation: bounceInDown;
    animation-duration: 2s; }
  header .hTextoCarousel .hButtom {
    background-color: #ffffff;
    border: 0;
    color: #2a93c9;
    text-decoration: none;
    padding: 2em 3em;
    display: block;
    margin-top: 2em;
    max-width: 13em;
    text-transform: uppercase;
    text-decoration: center;
    animation: bounceInLeft;
    animation-duration: 2s; }
    header .hTextoCarousel .hButtom:hover {
      background-color: #2a88c9;
      color: #ffffff;
      transition: all 0.3s ease; }

.main {
  /* .mAnimate{
    &:hover{
      animation: pulse;
      animation-duration: 2s;
    }
  } */ }
  .main .mAdults {
    background-color: #2a1f36;
    color: #ffffff;
    padding: 53px 38px 38px 077px;
    border-top: 7px solid #63d2af; }
    .main .mAdults .mTitulo {
      font-family: "Libre Baskerville", serif;
      font-size: 3em;
      font-weight: 400;
      margin-bottom: 16px; }
    .main .mAdults .mInfo {
      font-family: "Lato", serif;
      font-size: 17px;
      font-weight: 300;
      line-height: 1.6em;
      margin-bottom: 30px;
      color: #a9a0b4; }
  .main .mChildren {
    background-color: #30243e;
    color: #ffffff;
    padding: 53px 38px 38px 077px;
    border-top: 7px solid #66A9D8; }
    .main .mChildren .mTitulo {
      font-family: "Libre Baskerville", serif;
      font-size: 3em;
      font-weight: 400;
      margin-bottom: 16px; }
    .main .mChildren .mInfo {
      font-family: "Lato", serif;
      font-size: 17px;
      font-weight: 300;
      line-height: 1.6em;
      margin-bottom: 30px;
      color: #a9a0b4; }
  .main .mBusiness {
    background-color: #372649;
    color: #ffffff;
    padding: 53px 38px 38px 077px;
    border-top: 7px solid #7649a7; }
    .main .mBusiness .mTitulo {
      font-family: "Libre Baskerville", serif;
      font-size: 3em;
      font-weight: 400;
      margin-bottom: 16px; }
    .main .mBusiness .mInfo {
      font-family: "Lato", serif;
      font-size: 17px;
      font-weight: 300;
      line-height: 1.6em;
      margin-bottom: 30px;
      color: #a9a0b4; }
  .main .mLista {
    list-style: none;
    text-transform: uppercase;
    padding-left: 0;
    font-weight: bold; }
    .main .mLista li {
      margin-bottom: 16px;
      font-family: "Lato", serif;
      font-size: 14px;
      line-height: 30px; }
  .main .Therapies {
    padding: 10px 4px 16px 4px; }
    .main .Therapies .mTitulo {
      color: #2a1f36;
      font-family: "Libre Baskerville", Sans-serif;
      font-size: 30px;
      font-weight: 400; }
    .main .Therapies .mInfo {
      color: #7a7a7a;
      font-family: "Roboto", Sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.6em;
      border-bottom: 2px solid #63d2af;
      padding-bottom: 3em; }
  .main .mCategorias .mIcono {
    color: #66A9D8;
    font-size: 20px;
    padding: 5px;
    font-size: 2em; }
  .main .mCategorias .mEnlace {
    font-family: "Libre Baskerville", Sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #66A9D8;
    text-decoration: none; }
    .main .mCategorias .mEnlace:hover {
      transition: all 0.3s ease;
      color: #2a1f36; }
  .main .mCategorias .mInfo {
    color: #42474c;
    font-family: "Lato", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin-left: 54px; }
  .main .mClinic1 {
    opacity: 0.5; }
  .main .mClinic2 {
    padding: 5em;
    margin: 2em 1px; }
    .main .mClinic2 h2 {
      font-family: "Libre Baskerville", Sans-serif;
      font-size: 30px;
      font-weight: 400;
      color: #1e2428;
      border-bottom: 2px solid #63d2af;
      padding-bottom: 16px; }
    .main .mClinic2 h4 {
      color: #1e2428;
      font-family: "Lato", Sans-serif;
      font-size: 24px;
      font-weight: 300;
      text-transform: none;
      font-style: normal;
      text-decoration: none;
      padding-bottom: 16px; }
    .main .mClinic2 p {
      font-family: "Lato", Sans-serif;
      font-size: 18px;
      font-weight: 300;
      padding-bottom: 16px; }
    .main .mClinic2 a {
      font-family: "Lato", Sans-serif;
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      font-style: normal;
      line-height: 1.1em;
      letter-spacing: 2px;
      background-color: #372649;
      color: #ffffff;
      padding: 20px 29px;
      text-decoration: none;
      border-radius: 10px; }
      .main .mClinic2 a:hover {
        background-color: rgba(86, 176, 210, 0.8); }
  .main .mHelp {
    background-image: url("../img/help.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    width: 100%;
    height: 25em;
    filter: brightness(50%); }
  .main .mHelpH {
    position: absolute;
    z-index: 4;
    /*  border: 1px solid blue; */
    top: 4em;
    left: 0;
    right: 0;
    bottom: 0px;
    width: 100%;
    height: 16em; }
    .main .mHelpH p {
      font-family: "Libre Baskerville", Sans-serif;
      font-size: 40px;
      font-weight: 400;
      color: #ffffff;
      margin-bottom: 20px; }
    .main .mHelpH h2 {
      font-family: "Libre Baskerville", Sans-serif;
      font-size: 30px;
      font-weight: 400;
      color: #ffffff;
      margin-bottom: 20px; }
    .main .mHelpH h4 {
      font-family: "Libre Baskerville", Sans-serif;
      font-size: 24px;
      font-weight: 400;
      color: #ffffff;
      margin-bottom: 20px; }
    .main .mHelpH a {
      font-family: "Lato", Sans-serif;
      font-size: 50px;
      font-weight: 300;
      text-transform: none;
      font-style: normal;
      line-height: 1em;
      letter-spacing: 0px;
      display: block;
      text-align: center;
      text-decoration: none;
      margin-bottom: 20px;
      color: #ffffff; }
      .main .mHelpH a strong {
        font-weight: bold; }
      .main .mHelpH a:hover {
        transition: all 0.3s ease;
        color: #2a93c9; }
  .main .mCase {
    border-bottom: 2px solid #63d2af;
    padding-bottom: 2em; }
    .main .mCase h2 {
      font-family: "Libre Baskerville", Sans-serif;
      font-size: 30px;
      font-weight: 400;
      color: #1e2428; }
  .main .mOwlCenter .owl-theme .owl-dots .owl-dot span {
    border: 1px solid #a9a0b4; }
    .main .mOwlCenter .owl-theme .owl-dots .owl-dot span:hover {
      background-color: #7a7a7a; }
  .main .mOwlCenter .owl-nav {
    display: none; }
  .main .mOwlCenter .item {
    margin: 12px; }
    .main .mOwlCenter .item .card {
      border-radius: 8px; }
    .main .mOwlCenter .item .img-fluid {
      height: 14em;
      border-radius: 8px; }
  .main .mOwlCenter .card-title {
    font-family: "Libre Baskerville", Sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.4em;
    text-align: center;
    margin: 3.2% 12% 4% 12%;
    color: #1e2428; }
  .main .mOwlCenter .card-text {
    font-family: "Lato", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 1.6em;
    letter-spacing: 0px;
    text-align: center;
    margin: 3% 16% 7% 16%;
    color: #1e2428; }
  .main .mConsulta {
    background-color: #30243e;
    padding: 8.2em 0.2em 5em 8.5em;
    /* padding: 3em; */ }
    .main .mConsulta .titulo {
      color: #ffffff;
      font-family: "Libre Baskerville", Sans-serif;
      font-size: 30px;
      font-weight: 400; }
    .main .mConsulta .separador {
      border-bottom: 4px solid #63d2af;
      margin-bottom: 1em; }
    .main .mConsulta .subTitulo {
      color: #ffffff;
      font-family: "Lato", Sans-serif;
      font-size: 18px;
      font-weight: 300;
      line-height: 1.6em;
      margin-bottom: 3em;
      margin-top: 1em; }
    .main .mConsulta .enlace {
      font-family: "Lato", Sans-serif;
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      font-style: normal;
      text-decoration: none;
      line-height: 1.1em;
      letter-spacing: 2px;
      fill: #66A9D8;
      color: #66A9D8;
      background-color: #ffffff;
      border-radius: 3px 3px 3px 3px;
      padding: 21px 50px 21px 50px; }
      .main .mConsulta .enlace:hover {
        background-color: #66A9D8;
        color: #ffffff;
        transition: all 0.3s ease; }
  .main .mConsultaDos .imgConsulta {
    width: 100%;
    height: 28.8em; }

footer .fAddress {
  padding: 4em; }
  footer .fAddress p {
    font-family: "Lato", Sans-serif;
    font-size: 17px;
    font-weight: 300;
    line-height: 28px;
    color: #ffffff;
    text-align: center; }
  footer .fAddress .redes-sociales {
    /* border:1px solid white; */
    width: 12em;
    margin: 3em auto;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between; }
    footer .fAddress .redes-sociales a {
      color: #ffffff;
      text-decoration: none;
      font-size: 17px; }
      footer .fAddress .redes-sociales a:hover {
        color: #66A9D8; }

@media only screen and (max-width: 760px) {
  .carousel {
    display: none; }

  .main .mConsulta {
    padding: 3em; } }
@media only screen and (min-width: 768px) and (max-width: 980px) {
  header .hTextoCarousel {
    position: absolute;
    bottom: 4em;
    left: 5em; }
    header .hTextoCarousel .hTitulo {
      color: #ffffff;
      font-family: "Montserrat", Sans-serif;
      font-size: 25px;
      font-weight: 400;
      text-transform: uppercase;
      animation: bounceInLeft;
      animation-duration: 2s; }
    header .hTextoCarousel .hSubtitulo {
      color: #ffffff;
      font-family: "Libre Baskerville", Sans-serif;
      font-size: 18px;
      font-weight: 300;
      animation: bounceInDown;
      animation-duration: 2s; }
    header .hTextoCarousel .hButtom {
      background-color: #ffffff;
      border: 0;
      color: #2a93c9;
      text-decoration: none;
      padding: 1em;
      display: block;
      margin-top: 1em;
      max-width: 9em;
      text-transform: uppercase;
      text-decoration: center;
      animation: bounceInLeft;
      animation-duration: 2s; }
      header .hTextoCarousel .hButtom:hover {
        background-color: #2a88c9;
        color: #ffffff;
        transition: all 0.3s ease; }

  .main .mConsulta {
    padding: 4em; } }

/*# sourceMappingURL=estilos.css.map */
