header {
  .carousel-info {
    position: absolute;
    top: 16em;
    span {
      font-size: 7em;
      color: $tx-black;
    }
    h5 {
      font-size: 5em;
      font-weight: 600;
      color: $tx-black;
    }
    p {
      font-size: 2em;
      font-weight: 400;
      color: $tx-black;
    }
    a {
      padding: 12px 40px;
      background-color: $bg-silver;
      color: $tx-white;
      font-size: 16px;
      font-weight: 500;
      text-decoration: none;
      cursor: pointer;
      display: block;
      width: 15%;
      margin: 25px auto;
      text-transform: lowercase;
      border-radius: 8px;
      &:hover {
        background-color: $bg-silver-three;
        transition: all 0.3s ease;
      }
    }
  }
  .fh-logo {
    &:hover {
      animation: flash;
      animation-duration: 2s;
    }
  }
  .fh-word {
    &:hover {
      color: $bg-silver-three !important;
      transition: all 0.4s ease;
    }
  }
}
