main {
  background-color: $bg-white;
  .con-services {
    padding: 2em;
    span {
      display: block;
      text-align: center;
      font-size: 3em;
      width: 50%;
      margin: auto;
    }
    h5 {
      font-size: 25px;
      text-align: center;
      font-weight: 600;
    }
    p {
      font-size: 14px;
      font-weight: 300;
      text-align: justify;
    }
    a {
      cursor: pointer;
      padding: 9px;
      margin: 10px auto;
      display: block;
      width: 23%;
      background-color: $bg-silver-two;
      color: $tx-white;
      text-decoration: none;
      border-radius: 5px;
      text-align: center;
      font-weight: 500;
      color: $bg-black;
      font-size: 14px;
      &:hover {
        background-color: $bg-black;
        color: $tx-white;
        transition: ease 0.4s all;
      }
    }
  }
  .con-description {
    padding: 10px;
    h5 {
      text-align: center;
      color: $tx-white;
      font-weight: 600;
      margin-bottom: 1em;
    }
    img {
      display: block;
      margin: 5px auto;
      width: 100%;
      height: auto;
      &:hover {
        animation: pulse;
        animation-duration: 2s;
      }
    }
    p {
      text-align: justify;
      color: $tx-white;
      font-size: 13px;
      font-weight: 200;
      padding: 20px;
      margin: 0;
    }
  }
  .contenedor-form {
    padding: 1em;
    width: 50%;
    height: auto;
    margin: auto;
    h3 {
      font-size: 2em;
      font-weight: 500;
      text-align: center;
      text-transform: uppercase;
      color: $tx-black;
      padding: 14px;
    }
    .btn-send {
      background-color: $bg-black;
      color: $tx-white;
      padding: 10px;
      display: block;
      width: 12em;
      margin: 1em auto;
      font-size: 20px;
    }
  }
  /*Estilos de la hoja about*/
  .container-bio {
    border-bottom: 2px solid rgb(238, 223, 11);
    padding: 12px;
    img {
      display: block;
      margin: 10px auto;
      width: 15%;
      height: auto;
      border-radius: 100%;
      box-shadow: 5px 5px 10px $bg-silver-three;
    }
    h2 {
      font-size: 2em;
      font-weight: 600;
      text-align: center;
    }
    h4 {
      font-size: 1em;
      font-weight: 200;
      text-align: center;
      letter-spacing: 1px;
    }
  }
  .titule {
    font-size: 2em;
    font-weight: 500;
    color: $tx-black;
  }
  .conatiner-about {
    p {
      font-size: 1em;
      font-weight: 300;
      color: $tx-black;
      text-align: justify;
    }
  }
  .container-experience {
    div {
      &:hover {
        background-color: $bg-silver-four;
        transition: ease 2s all;
      }
    }
    p {
      font-size: 1em;
      font-weight: 300;
      color: $tx-black;
      text-align: justify;
      border-bottom: 1px solid $bg-silver-two;
      padding-bottom: 10px;
    }
  }
  .container-technology {
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
    span {
      font-size: 30px;
      color: $tx-white;
    }
    .html {
      border: 1px solid $html-5;
      padding: 7px 16px;
      background-color: $html-5;
      border-radius: 50%;

      &:hover {
        animation: bounce;
        animation-duration: 2s;
      }
    }
    .css {
      border: 1px solid $css-3;
      padding: 7px 16px;
      background-color: $css-3;
      border-radius: 50%;

      &:hover {
        animation: bounce;
        animation-duration: 2s;
      }
    }
    .js {
      border: 1px solid $java-script;
      padding: 7px 16px;
      background-color: $java-script;
      border-radius: 50%;

      &:hover {
        animation: bounce;
        animation-duration: 2s;
      }
    }
    .boot {
      border: 1px solid $bootstrap;
      padding: 7px 16px;
      background-color: $bootstrap;
      border-radius: 50%;

      &:hover {
        animation: bounce;
        animation-duration: 2s;
      }
    }
    .sass {
      border: 1px solid $sass;
      padding: 7px 16px;
      background-color: $sass;
      border-radius: 50%;

      &:hover {
        animation: bounce;
        animation-duration: 2s;
      }
    }
    .php {
      border: 1px solid $php;
      padding: 7px 16px;
      background-color: $php;
      border-radius: 50%;

      &:hover {
        animation: bounce;
        animation-duration: 2s;
      }
    }
    .db {
      border: 1px solid $database;
      padding: 7px 16px;
      background-color: $database;
      border-radius: 50%;

      &:hover {
        animation: bounce;
        animation-duration: 2s;
      }
    }
    .sq {
      border: 1px solid $mathematics;
      padding: 7px 16px;
      background-color: $mathematics;
      border-radius: 50%;

      &:hover {
        animation: bounce;
        animation-duration: 2s;
      }
    }
    .cog {
      border: 1px solid $cog;
      padding: 7px 16px;
      background-color: $cog;
      border-radius: 50%;

      &:hover {
        animation: bounce;
        animation-duration: 2s;
      }
    }
  }
  .container-ability {
    ul {
      padding-left: 16px;
      li {
        list-style: none;
        font-size: 20px;
        font-weight: 300;
        &:hover {
          animation: pulse;
          animation-duration: 2s;
        }
        span {
          color: $tx-black;
          margin: 10px;
          font-size: 20px;
          font-weight: 300;
        }
      }
    }
  }
  /*Estilos de la hoja de contacto*/
  .container-direction {
    padding: 1em;
    width: 50%;
    height: auto;
    margin: auto;
    h3 {
      font-size: 2em;
      font-weight: 500;
      text-align: center;
      text-transform: uppercase;
      color: $tx-black;
      padding: 14px;
    }
    .btn-send {
      background-color: $bg-black;
      color: $tx-white;
      padding: 10px;
      display: block;
      width: 12em;
      margin: 1em auto;
      font-size: 20px;
    }
  }
  .telefono {
    display: block;
    margin: 5px auto;
    text-decoration: none;
    color: $tx-black;
    font-size: 1.5rem !important;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    &:hover {
      color: $tx-silver-three;
      transition: all 2s ease;
    }
  }
}
