main {
  .con-services {
    padding: 2em;
    span {
      display: block;
      text-align: center;
      font-size: 3em;
      width: 50%;
      margin: auto;
    }
    h5 {
      font-size: 25px;
      text-align: center;
      font-weight: 600;
    }
    p {
      font-size: 14px;
      font-weight: 300;
      text-align: justify;
    }
    a {
      cursor: pointer;
      padding: 9px;
      margin: 10px auto;
      display: block;
      width: 23%;
      background-color: $bg-silver-two;
      color: $tx-white;
      text-decoration: none;
      border-radius: 5px;
      text-align: center;
      font-weight: 500;
      color: $bg-black;
      font-size: 14px;
      &:hover {
        background-color: $bg-black;
        color: $tx-white;
        transition: ease 0.4s all;
      }
    }
  }
  .con-description {
    padding: 10px;
    h5 {
      text-align: center;
      color: $tx-white;
      font-weight: 600;
      margin-bottom: 1em;
    }
    img {
      display: block;
      margin: 5px auto;
      width: 100%;
      height: auto;
      &:hover {
        animation: pulse;
        animation-duration: 2s;
      }
    }
    p {
      text-align: justify;
      color: $tx-white;
      font-size: 13px;
      font-weight: 200;
      padding: 20px;
      margin: 0;
    }
  }
  .contenedor-form {
    padding: 1em;
    width: 50%;
    height: auto;
    margin: auto;
    h3 {
      font-size: 2em;
      font-weight: 500;
      text-align: center;
      text-transform: uppercase;
      color: $tx-black;
      padding: 14px;
    }
    .btn-send {
      background-color: $bg-black;
      color: $tx-white;
      padding: 10px;
      display: block;
      width: 12em;
      margin: 1em auto;
      font-size: 20px;
    }
  }
  /*Estilos de la hoja about*/
  .container-about {
    padding: 12px;
    img {
      display: block;
      margin: 10px auto;
      width: 15%;
      height: auto;
      border-radius: 100%;
    }
    h2 {
      font-size: 2em;
      font-weight: 600;
      text-align: center;
      &:hover {
        color: $tx-gold;
        transition: all 3s ease;
      }
    }
    h4 {
      font-size: 1em;
      font-weight: 200;
      text-align: center;
      letter-spacing: 1px;
    }
  }
  .titule {
    font-size: 2em;
    font-weight: 600;
    color: $tx-black;
  }
  .conatiner-about {
    p {
      font-size: 1em;
      font-weight: 300;
      color: $tx-black;
      text-align: justify;
    }
  }
  .container-experience {
    p {
      font-size: 1em;
      font-weight: 300;
      color: $tx-black;
      text-align: justify;
    }
  }
  .container-technology {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    span {
      font-size: 2em;
    }
    .html {
      &:hover {
        color: $html-5;
        transition: all 2s ease;
      }
    }
    .css {
      &:hover {
        color: $css-3;
        transition: all 2s ease;
      }
    }
    .js {
      &:hover {
        color: $java-script;
        transition: all 2s ease;
      }
    }
    .boot {
      &:hover {
        color: $bootstrap;
        transition: all 2s ease;
      }
    }
    .sass {
      &:hover {
        color: $sass;
        transition: all 2s ease;
      }
    }
    .php {
      &:hover {
        color: $php;
        transition: all 2s ease;
      }
    }
    .db {
      &:hover {
        color: $database;
        transition: all 2s ease;
      }
    }
    .sq {
      &:hover {
        color: $mathematics;
        transition: all 2s ease;
      }
    }
    .cog {
      &:hover {
        color: $cog;
        transition: all 2s ease;
      }
    }
  }
  .container-ability {
    ul {
      padding-left: 16px;
      li {
        list-style: none;
        font-size: 20px;
        font-weight: 300;
        span {
          color: $tx-black;
          margin: 10px;
          font-size: 20px;
          font-weight: 300;
        }
      }
    }
  }
}
