main {
  .con-services {
    padding: 2em;
    span {
      display: block;
      text-align: center;
      font-size: 3em;
      width: 50%;
      margin: auto;
    }
    h5 {
      font-size: 25px;
      text-align: center;
      font-weight: 600;
    }
    p {
      font-size: 14px;
      font-weight: 300;
      text-align: justify;
    }
    a {
      cursor: pointer;
      padding: 9px;
      margin: 10px auto;
      display: block;
      width: 23%;
      background-color: $bg-silver-two;
      color: $tx-white;
      text-decoration: none;
      border-radius: 5px;
      text-align: center;
      font-weight: 500;
      color: $bg-black;
      font-size: 14px;
      &:hover {
        background-color: $bg-black;
        color: $tx-white;
        transition: ease 0.4s all;
      }
    }
  }
}
