//cafe con blanco el diseño 

// Colores de texto
$text-blanco: #fff;
$text-negro: #1d1d1d;

//Colores de fondo
$bg-blanco: #fff;
$bg-negro: #000;
$bg-azul: #101084;
$bg-cafe-pastel:#846b51;
$bg-cafe-oscuro:#413529;
$bg-verde-oscuro:#244623;
$bg-marron-ligero:#855949;


//Colores hover
$bg-marron-ligero-hover:#c89b8c;
$text-hover: $bg-marron-ligero-hover;


//Fondos oscuros
$bf-oscuro:rgba(14, 13, 13, 0.5);

