/*Color fondo*/
/*Color texto*/
/*Colores de tecnologias*/
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,100;1,300;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

body {
  font-family: "Open Sans", "Blinker", "Roboto", "Inconsolata"; }

.bg-silver-two {
  background-color: #d7dbdb; }

.tx-silver-three {
  background-color: #727a7c; }

.bg-silver-five {
  background-color: #e1e3e4; }

header .carousel-info {
  position: absolute;
  top: 16em; }
  header .carousel-info span {
    font-size: 7em;
    color: #000000; }
  header .carousel-info h5 {
    font-size: 5em;
    font-weight: 600;
    color: #000000; }
  header .carousel-info p {
    font-size: 2em;
    font-weight: 400;
    color: #000000; }
  header .carousel-info a {
    padding: 12px 40px;
    background-color: #c3c9ca;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    display: block;
    width: 15%;
    margin: 25px auto;
    text-transform: lowercase;
    border-radius: 8px; }
    header .carousel-info a:hover {
      background-color: #727a7c;
      transition: all 0.3s ease; }
header .fh-logo:hover {
  animation: flash;
  animation-duration: 2s; }
header .fh-word:hover {
  color: #727a7c !important;
  transition: all 0.4s ease; }

main {
  background-color: #ffffff;
  /*Estilos de la hoja about*/
  /*Estilos de la hoja de contacto*/ }
  main .con-services {
    padding: 2em; }
    main .con-services span {
      display: block;
      text-align: center;
      font-size: 3em;
      width: 50%;
      margin: auto; }
    main .con-services h5 {
      font-size: 25px;
      text-align: center;
      font-weight: 600; }
    main .con-services p {
      font-size: 14px;
      font-weight: 300;
      text-align: justify; }
    main .con-services a {
      cursor: pointer;
      padding: 9px;
      margin: 10px auto;
      display: block;
      width: 23%;
      background-color: #d7dbdb;
      color: #ffffff;
      text-decoration: none;
      border-radius: 5px;
      text-align: center;
      font-weight: 500;
      color: #000000;
      font-size: 14px; }
      main .con-services a:hover {
        background-color: #000000;
        color: #ffffff;
        transition: ease 0.4s all; }
  main .con-description {
    padding: 10px; }
    main .con-description h5 {
      text-align: center;
      color: #ffffff;
      font-weight: 600;
      margin-bottom: 1em; }
    main .con-description img {
      display: block;
      margin: 5px auto;
      width: 100%;
      height: auto; }
      main .con-description img:hover {
        animation: pulse;
        animation-duration: 2s; }
    main .con-description p {
      text-align: justify;
      color: #ffffff;
      font-size: 13px;
      font-weight: 200;
      padding: 20px;
      margin: 0; }
  main .contenedor-form {
    padding: 1em;
    width: 50%;
    height: auto;
    margin: auto; }
    main .contenedor-form h3 {
      font-size: 2em;
      font-weight: 500;
      text-align: center;
      text-transform: uppercase;
      color: #000000;
      padding: 14px; }
    main .contenedor-form .btn-send {
      background-color: #000000;
      color: #ffffff;
      padding: 10px;
      display: block;
      width: 12em;
      margin: 1em auto;
      font-size: 20px; }
  main .container-bio {
    border-bottom: 2px solid #eedf0b;
    padding: 12px; }
    main .container-bio img {
      display: block;
      margin: 10px auto;
      width: 15%;
      height: auto;
      border-radius: 100%;
      box-shadow: 5px 5px 10px #727a7c; }
    main .container-bio h2 {
      font-size: 2em;
      font-weight: 600;
      text-align: center; }
    main .container-bio h4 {
      font-size: 1em;
      font-weight: 200;
      text-align: center;
      letter-spacing: 1px; }
  main .titule {
    font-size: 2em;
    font-weight: 500;
    color: #000000; }
  main .conatiner-about p {
    font-size: 1em;
    font-weight: 300;
    color: #000000;
    text-align: justify; }
  main .container-experience div:hover {
    background-color: #f8f9fa;
    transition: ease 2s all; }
  main .container-experience p {
    font-size: 1em;
    font-weight: 300;
    color: #000000;
    text-align: justify;
    border-bottom: 1px solid #d7dbdb;
    padding-bottom: 10px; }
  main .container-technology {
    display: flex;
    justify-content: space-between;
    /* width: 100%; */ }
    main .container-technology span {
      font-size: 30px;
      color: #ffffff; }
    main .container-technology .html {
      border: 1px solid #e34c26;
      padding: 7px 16px;
      background-color: #e34c26;
      border-radius: 50%; }
      main .container-technology .html:hover {
        animation: bounce;
        animation-duration: 2s; }
    main .container-technology .css {
      border: 1px solid #264de4;
      padding: 7px 16px;
      background-color: #264de4;
      border-radius: 50%; }
      main .container-technology .css:hover {
        animation: bounce;
        animation-duration: 2s; }
    main .container-technology .js {
      border: 1px solid #F0DB4F;
      padding: 7px 16px;
      background-color: #F0DB4F;
      border-radius: 50%; }
      main .container-technology .js:hover {
        animation: bounce;
        animation-duration: 2s; }
    main .container-technology .boot {
      border: 1px solid #563d7c;
      padding: 7px 16px;
      background-color: #563d7c;
      border-radius: 50%; }
      main .container-technology .boot:hover {
        animation: bounce;
        animation-duration: 2s; }
    main .container-technology .sass {
      border: 1px solid #CD6799;
      padding: 7px 16px;
      background-color: #CD6799;
      border-radius: 50%; }
      main .container-technology .sass:hover {
        animation: bounce;
        animation-duration: 2s; }
    main .container-technology .php {
      border: 1px solid #8993be;
      padding: 7px 16px;
      background-color: #8993be;
      border-radius: 50%; }
      main .container-technology .php:hover {
        animation: bounce;
        animation-duration: 2s; }
    main .container-technology .db {
      border: 1px solid #00758F;
      padding: 7px 16px;
      background-color: #00758F;
      border-radius: 50%; }
      main .container-technology .db:hover {
        animation: bounce;
        animation-duration: 2s; }
    main .container-technology .sq {
      border: 1px solid #000000;
      padding: 7px 16px;
      background-color: #000000;
      border-radius: 50%; }
      main .container-technology .sq:hover {
        animation: bounce;
        animation-duration: 2s; }
    main .container-technology .cog {
      border: 1px solid #808000;
      padding: 7px 16px;
      background-color: #808000;
      border-radius: 50%; }
      main .container-technology .cog:hover {
        animation: bounce;
        animation-duration: 2s; }
  main .container-ability ul {
    padding-left: 16px; }
    main .container-ability ul li {
      list-style: none;
      font-size: 20px;
      font-weight: 300; }
      main .container-ability ul li:hover {
        animation: pulse;
        animation-duration: 2s; }
      main .container-ability ul li span {
        color: #000000;
        margin: 10px;
        font-size: 20px;
        font-weight: 300; }
  main .container-direction {
    padding: 1em;
    width: 50%;
    height: auto;
    margin: auto; }
    main .container-direction h3 {
      font-size: 2em;
      font-weight: 500;
      text-align: center;
      text-transform: uppercase;
      color: #000000;
      padding: 14px; }
    main .container-direction .btn-send {
      background-color: #000000;
      color: #ffffff;
      padding: 10px;
      display: block;
      width: 12em;
      margin: 1em auto;
      font-size: 20px; }
  main .telefono {
    display: block;
    margin: 5px auto;
    text-decoration: none;
    color: #000000;
    font-size: 1.5rem !important;
    font-weight: 600;
    text-align: center;
    cursor: pointer; }
    main .telefono:hover {
      color: #727a7c;
      transition: all 2s ease; }

/* footer {
  position: fixed;
  bottom: 0;
  width: 100%;
} */

/*# sourceMappingURL=styles.css.map */
