/*Color fondo*/
/*Color texto*/
/*Colores de tecnologias*/
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,100;1,300;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

body {
  font-family: "Open Sans", "Blinker", "Roboto", "Inconsolata"; }

.bg-silver-two {
  background-color: #d7dbdb; }

header .carousel-info {
  position: absolute;
  top: 16em; }
  header .carousel-info span {
    font-size: 7em;
    color: #000000; }
  header .carousel-info h5 {
    font-size: 5em;
    font-weight: 600;
    color: #000000; }
  header .carousel-info p {
    font-size: 2em;
    font-weight: 400;
    color: #000000; }
  header .carousel-info a {
    padding: 12px 40px;
    background-color: #c3c9ca;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    display: block;
    width: 15%;
    margin: 25px auto;
    text-transform: lowercase;
    border-radius: 8px; }
    header .carousel-info a:hover {
      background-color: #727a7c;
      transition: all 0.3s ease; }
header .fh-logo:hover {
  animation: flash;
  animation-duration: 2s; }
header .fh-word:hover {
  color: #727a7c !important;
  transition: all 0.4s ease; }

main .con-services {
  padding: 2em; }
  main .con-services span {
    display: block;
    text-align: center;
    font-size: 3em;
    width: 50%;
    margin: auto; }
  main .con-services h5 {
    font-size: 25px;
    text-align: center;
    font-weight: 600; }
  main .con-services p {
    font-size: 14px;
    font-weight: 300;
    text-align: justify; }
  main .con-services a {
    cursor: pointer;
    padding: 9px;
    margin: 10px auto;
    display: block;
    width: 23%;
    background-color: #d7dbdb;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    font-weight: 500;
    color: #000000;
    font-size: 14px; }
    main .con-services a:hover {
      background-color: #000000;
      color: #ffffff;
      transition: ease 0.4s all; }
main .con-description {
  padding: 10px; }
  main .con-description h5 {
    text-align: center;
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 1em; }
  main .con-description img {
    display: block;
    margin: 5px auto;
    width: 100%;
    height: auto; }
    main .con-description img:hover {
      animation: pulse;
      animation-duration: 2s; }
  main .con-description p {
    text-align: justify;
    color: #ffffff;
    font-size: 13px;
    font-weight: 200;
    padding: 20px;
    margin: 0; }
main .contenedor-form {
  padding: 1em;
  width: 50%;
  height: auto;
  margin: auto; }
  main .contenedor-form h3 {
    font-size: 2em;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    padding: 14px; }
  main .contenedor-form .btn-send {
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    display: block;
    width: 12em;
    margin: 1em auto;
    font-size: 20px; }

/*# sourceMappingURL=styles.css.map */
