/*Color fondo*/
/*Color texto*/
/*Colores de tecnologias*/
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,100;1,300;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

body {
  font-family: "Open Sans", "Blinker", "Roboto", "Inconsolata"; }

header .carousel-info {
  position: absolute;
  top: 16em; }
  header .carousel-info span {
    font-size: 7em;
    color: #000000; }
  header .carousel-info h5 {
    font-size: 5em;
    font-weight: 600;
    color: #000000; }
  header .carousel-info p {
    font-size: 2em;
    font-weight: 400;
    color: #000000; }
  header .carousel-info a {
    padding: 12px 40px;
    background-color: #c3c9ca;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    display: block;
    width: 15%;
    margin: 25px auto;
    text-transform: lowercase;
    border-radius: 8px; }
    header .carousel-info a:hover {
      background-color: #727a7c;
      transition: all 0.3s ease; }

main .title-tool {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 10px; }
main .technology {
  padding: 1em;
  display: flex;
  justify-content: space-between; }
  main .technology span .html {
    color: #e34c26;
    font-size: 3em; }
    main .technology span .html:hover {
      animation: flash;
      animation-duration: 0.5s; }
  main .technology span .css {
    color: #264de4;
    font-size: 3em; }
    main .technology span .css:hover {
      animation: flash;
      animation-duration: 0.5s; }
  main .technology span .js {
    color: #F0DB4F;
    font-size: 3em; }
    main .technology span .js:hover {
      animation: flash;
      animation-duration: 0.5s; }
  main .technology span .bootstrap {
    color: #563d7c;
    font-size: 3em; }
    main .technology span .bootstrap:hover {
      animation: flash;
      animation-duration: 0.5s; }
  main .technology span .sass {
    color: #CD6799;
    font-size: 3em; }
    main .technology span .sass:hover {
      animation: flash;
      animation-duration: 0.5s; }
  main .technology span .php {
    color: #8993be;
    font-size: 3em; }
    main .technology span .php:hover {
      animation: flash;
      animation-duration: 0.5s; }
  main .technology span .laravel {
    color: #F05340;
    font-size: 3em; }
    main .technology span .laravel:hover {
      animation: flash;
      animation-duration: 0.5s; }
  main .technology span .database {
    color: #00758F;
    font-size: 3em; }
    main .technology span .database:hover {
      animation: flash;
      animation-duration: 0.5s; }
  main .technology span .mathematics {
    color: #000000;
    font-size: 3em; }
    main .technology span .mathematics:hover {
      animation: flash;
      animation-duration: 0.5s; }

/*# sourceMappingURL=styles.css.map */
