* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.menu-tel {
  display: flex;
  flex-direction: row-reverse;
  background-color: rgb(1, 1, 95);
}

.menu-tel ul li {
  list-style-type: none;
  padding: 5px;
}

.menu-tel .menu-li {
  border-right: 2px solid #ffffff;
  padding-right: 10px;
}

.menu-tel ul li a {
  width: 50%;
  color: #ffffff;
  text-decoration: none;
}

/*Estilos del menu logo*/
.menu-nav {
  display: flex;

  background-color: rgb(200, 197, 197);
}

.menu-nav img {
  width: 8.56em;
}

.menu-nav nav {
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  padding-top: 53px;
  /* margin-left: 75.45em; */
}

.menu-nav nav a {
  text-decoration: none;
  padding: 10px;
  color: rgb(88, 88, 88);
}

.menu-nav nav a:hover {
  text-decoration: underline;
}

/*####### ESTILOS PARA main-services #######*/
.main-services {
  display: flex;
  width: 100.16em;
  margin: 40px auto;
}

.card {
  border: 2px solid rgb(2, 2, 110);
  border-radius: 10px;
  width: 500px;
  margin: 20px;
  animation: backInDown;
  animation-duration: 2s;
}

.card-title,
.card-info {
  text-align: center;
  padding: 10px;
}

.card-title {
  letter-spacing: 2pt;
  font-size: 25px;
}

.card-info {
  line-height: 20pt;
  font-size: 19px;
  text-align: justify;
}

.card-button {
  background-color: rgb(2, 2, 110);
  border: rgb(2, 2, 110);
  border-radius: 5px;
  color: #ffffff;
  display: block;
  text-align: center;
  text-transform: uppercase;
  margin: 15px auto;
  padding: 10px;
  width: 80px;
}

.card-button:hover {
  background-color: rgb(126, 126, 126);
  border: rgb(126, 126, 126);
  border-radius: 5px;
  color: #ffffff;
}

/*###### ESTILOS PARA FOTTER ######*/
.footer {
  background-color: rgb(1, 1, 95);
  bottom: 0;
  position: fixed;
  width: 100%;
}

.footer p {
  color: #ffffff;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 20px;
  font-size: 20px;
}

/*==== Media Querys for 600px ======= */

@media screen and (max-width: 600px) {
  .menu-tel ul li {
    list-style-type: none;
    padding: 5px;
  }

  .menu-tel .menu-li {
    border-right: 2px solid #ffffff;
    padding-right: 5px;
  }

  .menu-tel ul li a {
    width: 40%;
    color: #ffffff;
    text-decoration: none;
  }

  /*Estilos del menu logo*/

  .menu-nav img {
    width: 3.12em;
  }

  .menu-nav nav {
    font-size: 10px;
    text-transform: uppercase;
    text-decoration: none;
    padding-top: 20px;
  }

  .menu-nav nav a {
    text-decoration: none;
    padding: 5px;
    color: rgb(88, 88, 88);
  }

  /*####### ESTILOS PARA MAIN-SERVICES #######*/
  .main-services {
    display: flex;
    flex-wrap: wrap;
    width: 20.16em;
    margin: 20px auto;
    margin-bottom: 60px;
  }
}

/*====== Media Query para 700px */
@media screen and (min-width: 700px) {
  .menu-tel ul li {
    list-style-type: none;
    padding: 5px;
  }

  .menu-tel .menu-li {
    border-right: 2px solid #ffffff;
    padding-right: 5px;
  }

  .menu-tel ul li a {
    width: 30%;
    color: #ffffff;
    text-decoration: none;
  }

  /*Estilos del menu logo*/

  .menu-nav img {
    width: 7.12em;
  }

  .menu-nav nav {
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    padding-top: 40px;
  }

  .menu-nav nav a {
    text-decoration: none;
    padding: 5px;
    color: rgb(88, 88, 88);
  }
}

/*====== Media Query para 1000px */
@media screen and (min-width: 750px) {
  /*####### ESTILOS PARA MAIN-SERVICES #######*/
  .main-services {
    display: flex;
    flex-wrap: wrap;
    width: 34.16em;
    margin: 20px auto;
    margin-bottom: 40px;
  }
}

/*====== Media Query para 1000px */
@media screen and (min-width: 1000px) {
  /*####### ESTILOS PARA MAIN-SERVICES #######*/
  .main-services {
    display: flex;
    width: 90%;
    margin: 20px auto;
    margin-bottom: 40px;
  }
}
